<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- SYSTEM -->
  <category label="30018">
    <setting id="host" type="text" label="30000" default="127.0.0.1" />
    <setting id="iconpath" type="folder" label="30008" default="" />
    <setting id="updateint" type="number" label="30010" default="2" />
  </category>

  <!-- Channels -->
  <category label="30019">
    <setting id="channeldatapath" type="folder" label="30014" default="" />
    <setting label="30025" type="bool" id="onlyonegroup" default="false"/>
    <setting label="30026" type="text" id="onegroup" default="" enable="eq(-1,true)" />
    <setting label="30015" type="bool" id="checkgroups" default="true"/>
    <setting label="30016" type="bool" id="checkchannels" default="true"/>
    <setting label="30013" type="bool" id="zap" default="false"/>
  </category>

  <!-- Advanced -->
  <category label="30020">
    <setting id="streamport" type="number" label="30002" default="8001" />
    <setting id="webport" type="number" label="30012" default="80" />
    <setting id="user" type="text" label="30003" default="" />
    <setting id="pass" type="text" label="30004" option="hidden" default="" />
    <setting id="recordingpath" type="text" label="30023" default="" />
    <setting label="30017" type="bool" id="onlycurrent" default="false"/>
    <setting label="30011" type="bool" id="timerlistcleanup" default="false"/>
    <setting label="30024" type="bool" id="setpowerstate" default="false" />
  </category>
</settings>
