<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2007 Johannes Lehtinen
 * This file is free software; Johannes Lehtinen gives unlimited
 * permission to copy, distribute and modify it.
-->
<plugin
  id="org.c-pluff.examples.cpfile.core"
  version="0.1"
  name="Core logic for cpfile"
  provider-name="Johannes Lehtinen">
  <requires>
    <c-pluff version="0.1"/>
  </requires>
  <runtime library="libcore" funcs="cp_ex_cpfile_core_funcs"/>
  <extension-point
    id="classifiers"
    name="File classifiers"
    schema="classifiers.xsd"/>
</plugin>
