Source: usplash-theme-xbmc
Priority: optional
Section: misc
Maintainer: Oumar Aziz OUATTARA (alias wattazoum) <wattazoum@gmail.com>
Standards-Version: 3.7.2
Build-Depends: debhelper, libusplash-dev

Package: usplash-theme-xbmc-spinner-black
Architecture: any
Depends: ${shlibs:Depends}, initramfs-tools, usplash
Description: XBMC Usplash theme for Ubuntu (Black edition)
 Usplash theme for XBMC coming from http://du-duke.blogspot.com/2008/12/black-now-with-more-resolutions.html

Package: usplash-theme-xbmc-spinner-black-silver
Architecture: any
Depends: ${shlibs:Depends}, initramfs-tools, usplash
Description: XBMC Usplash theme for Ubuntu (Black Silver edition)
 Usplash theme for XBMC Black Silver edition.

Package: usplash-theme-xbmc-spinner-blue
Architecture: any
Depends: ${shlibs:Depends}, initramfs-tools, usplash
Description: XBMC Usplash theme for Ubuntu (Blue edition)
 Usplash theme for XBMC coming from http://du-duke.blogspot.com/2008/12/mr-blue-has-arrived.html
 
Package: usplash-theme-xbmc-pulsating-logo
Architecture: any
Depends: ${shlibs:Depends}, initramfs-tools, usplash
Description: XBMC Usplash theme for Ubuntu (Pulsating Logo edition)
 Usplash theme for XBMC coming from http://du-duke.blogspot.com/2008/12/they-keep-coming.html
