Package: !!BLD_PRODUCT!!
Version: !!BLD_VERSION!!
Section: web
Priority: optional
Architecture: !!BLD_HOST_CPU_MAPPED!!
Depends: libc6, libgcc1, libstdc++6
Installed-Size: 10
Maintainer: Mbedthis Development <dev@mbedthis.com>
Description: Mbedthis Appweb Embedded Web Server
 Appweb is a compact HTTP web server suitable for embedding in devices and 
 applications.
 .
 more information about Appweb can be found at:
 <URL:http://www.appwebserver.org>
 <URL:http://www.mbedthis.com>
