<window id="4">
	<defaultcontrol>6</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<control type="image" id="1">
			<description>background image</description>
			<posx>0</posx>
			<posy>0</posy>
			<width>720</width>
			<height>576</height>
			<texture>background-settings.png</texture>
		</control>
		<control type="label" id="1">
			<description>xbox media center label</description>
			<posx>200</posx>
			<posy>63</posy>
			<align>right</align>
			<label>xbox media center</label>
			<font>special12</font>
		</control>
		<control type="label" id="1">
			<description>description label</description>
			<posx>207</posx>
			<posy>63</posy>
			<align>left</align>
			<label>10507</label>
			<font>special13</font>
		</control>
		<include>contentpanel</include>
		<control type="group" id="9000">
			<control type="button" id="11">
				<description>profiles</description>
				<posx>50</posx>
				<posy>120</posy>
				<label>13200</label>
				<onclick>XBMC.ActivateWindow(34)</onclick>
				<onleft>8</onleft>
				<onright>6</onright>
				<onup>14</onup>
				<ondown>112</ondown>
				<include>buttonpanelslide</include>
			</control>
			<control type="button" id="112">
				<description>About XBMC</description>
				<posx>50</posx>
				<posy>157</posy>
				<label>482</label>
				<onclick>XBMC.Credits()</onclick>
				<onleft>8</onleft>
				<onright>6</onright>
				<onup>11</onup>
				<ondown>13</ondown>
				<include>buttonpanelslide</include>
			</control>
			<control type="button" id="13">
				<description>skin settings</description>
				<posx>50</posx>
				<posy>194</posy>
				<label>20077</label>
				<onclick>XBMC.ActivateWindow(56)</onclick>
				<onleft>8</onleft>
				<onright>6</onright>
				<onup>112</onup>
				<ondown>14</ondown>
				<include>buttonpanelslide</include>
			</control>
			<control type="button" id="14">
				<description>reload skin</description>
				<posx>50</posx>
				<posy>231</posy>
				<label>20183</label>
				<onclick>XBMC.ReloadSkin()</onclick>
				<onleft>8</onleft>
				<onright>6</onright>
				<onup>13</onup>
				<ondown>11</ondown>
				<include>buttonpanelslide</include>
			</control>
		</control>
		<control type="button" id="6">
			<description>My Videos</description>
			<font>font10</font>
			<posx>245</posx>
			<posy>155</posy>
			<width>75</width>
			<height>110</height>
			<texturefocus>settings-videos-focus.png</texturefocus>
			<texturenofocus>settings-videos-nofocus.png</texturenofocus>
			<aligny>top</aligny>
			<textoffsety>117</textoffsety>
			<label>3</label>
			<align>center</align>
			<onclick>ActivateWindow(MyVideosSettings)</onclick>
			<onleft>9000</onleft>
			<onright>7</onright>
			<onup>10</onup>
			<ondown>10</ondown>
			<include>contentpanelslide</include>
		</control>
		<control type="button" id="7">
			<description>My Music</description>
			<font>font10</font>
			<posx>345</posx>
			<posy>155</posy>
			<width>75</width>
			<height>110</height>
			<texturefocus>settings-music-focus.png</texturefocus>
			<texturenofocus>settings-music-nofocus.png</texturenofocus>
			<aligny>top</aligny>
			<textoffsety>117</textoffsety>
			<label>2</label>
			<align>center</align>
			<onclick>ActivateWindow(MyMusicSettings)</onclick>
			<onleft>6</onleft>
			<onright>9</onright>
			<onup>2</onup>
			<ondown>2</ondown>
			<include>contentpanelslide</include>
		</control>
		<control type="button" id="9">
			<description>My Pictures</description>
			<font>font10</font>
			<posx>445</posx>
			<posy>155</posy>
			<width>75</width>
			<height>110</height>
			<texturefocus>settings-pictures-focus.png</texturefocus>
			<texturenofocus>settings-pictures-nofocus.png</texturenofocus>
			<aligny>top</aligny>
			<textoffsety>117</textoffsety>
			<label>1</label>
			<align>center</align>
			<onclick>ActivateWindow(MyPicturesSettings)</onclick>
			<onleft>7</onleft>
			<onright>8</onright>
			<onup>4</onup>
			<ondown>4</ondown>
			<include>contentpanelslide</include>
		</control>
		<control type="button" id="8">
			<description>My Programs</description>
			<font>font10</font>
			<posx>545</posx>
			<posy>155</posy>
			<width>75</width>
			<height>110</height>
			<texturefocus>settings-programs-focus.png</texturefocus>
			<texturenofocus>settings-programs-nofocus.png</texturenofocus>
			<aligny>top</aligny>
			<textoffsety>117</textoffsety>
			<label>0</label>
			<align>center</align>
			<onclick>ActivateWindow(MyProgramsSettings)</onclick>
			<onleft>9</onleft>
			<onright>9000</onright>
			<onup>3</onup>
			<ondown>3</ondown>
			<include>contentpanelslide</include>
		</control>
		<control type="button" id="10">
			<description>My Weather</description>
			<font>font10</font>
			<posx>245</posx>
			<posy>325</posy>
			<width>75</width>
			<height>110</height>
			<texturefocus>settings-weather-focus.png</texturefocus>
			<texturenofocus>settings-weather-nofocus.png</texturenofocus>
			<aligny>top</aligny>
			<textoffsety>117</textoffsety>
			<label>8</label>
			<align>center</align>
			<onclick>ActivateWindow(MyWeatherSettings)</onclick>
			<onleft>9000</onleft>
			<onright>2</onright>
			<onup>6</onup>
			<ondown>6</ondown>
			<include>contentpanelslide</include>
		</control>
		<control type="button" id="2">
			<description>Network</description>
			<font>font10</font>
			<posx>345</posx>
			<posy>325</posy>
			<width>75</width>
			<height>110</height>
			<texturefocus>settings-network-focus.png</texturefocus>
			<texturenofocus>settings-network-nofocus.png</texturenofocus>
			<aligny>top</aligny>
			<textoffsety>117</textoffsety>
			<label>705</label>
			<align>center</align>
			<onclick>ActivateWindow(NetworkSettings)</onclick>
			<onleft>10</onleft>
			<onright>4</onright>
			<onup>7</onup>
			<ondown>7</ondown>
			<include>contentpanelslide</include>
		</control>
		<control type="button" id="4">
			<description>System</description>
			<font>font10</font>
			<posx>445</posx>
			<posy>325</posy>
			<width>75</width>
			<height>110</height>
			<texturefocus>settings-system-focus.png</texturefocus>
			<texturenofocus>settings-system-nofocus.png</texturenofocus>
			<aligny>top</aligny>
			<textoffsety>117</textoffsety>
			<label>13000</label>
			<align>center</align>
			<onclick>ActivateWindow(SystemSettings)</onclick>
			<onleft>2</onleft>
			<onright>3</onright>
			<onup>9</onup>
			<ondown>9</ondown>
			<include>contentpanelslide</include>
		</control>
		<control type="button" id="3">
			<description>Appearance</description>
			<font>font10</font>
			<posx>545</posx>
			<posy>325</posy>
			<width>75</width>
			<height>110</height>
			<texturefocus>settings-appearance-focus.png</texturefocus>
			<texturenofocus>settings-appearance-nofocus.png</texturenofocus>
			<aligny>top</aligny>
			<textoffsety>117</textoffsety>
			<label>480</label>
			<align>center</align>
			<onclick>ActivateWindow(AppearanceSettings)</onclick>
			<onleft>4</onleft>
			<onright>9000</onright>
			<onup>8</onup>
			<ondown>8</ondown>
			<include>contentpanelslide</include>
		</control>
		<control type="image" id="0">
			<description>bg preview</description>
			<posx>0</posx>
			<posy>0</posy>
			<width>720</width>
			<height>576</height>
			<include>windowswitchtransition</include>
		</control>
	</controls>
</window>