<?xml version="1.0" ?>
<settings version="1">
	<section id="metadata.generic.artists">
		<category id="general" label="30000">
			<group id="1">
				<setting help="30201" id="lang" label="30001" type="string">
					<level>0</level>
					<default>EN</default>
					<control format="string" type="spinner"/>
					<constraints>
						<options>
							<option label="CN">CN</option>
							<option label="DE">DE</option>
							<option label="EN">EN</option>
							<option label="ES">ES</option>
							<option label="FR">FR</option>
							<option label="HU">HU</option>
							<option label="IL">IL</option>
							<option label="IT">IT</option>
							<option label="JP">JP</option>
							<option label="NL">NL</option>
							<option label="NO">NO</option>
							<option label="PL">PL</option>
							<option label="PT">PT</option>
							<option label="RU">RU</option>
							<option label="SE">SE</option>
						</options>
					</constraints>
				</setting>
				<setting help="30202" id="bio" label="30002" type="string">
					<level>0</level>
					<default>theaudiodb</default>
					<control format="string" type="spinner"/>
					<constraints>
						<options>
							<option label="discogs">discogs</option>
							<option label="theaudiodb">theaudiodb</option>
							<option label="wikipedia">wikipedia</option>
						</options>
					</constraints>
				</setting>
				<setting help="30203" id="discog" label="30003" type="string">
					<level>0</level>
					<default>allmusic</default>
					<control format="string" type="spinner"/>
					<constraints>
						<options>
							<option label="allmusic">allmusic</option>
							<option label="discogs">discogs</option>
							<option label="musicbrainz">musicbrainz</option>
							<option label="theaudiodb">theaudiodb</option>
						</options>
					</constraints>
				</setting>
				<setting help="30204" id="genre" label="30004" type="string">
					<level>0</level>
					<default>allmusic</default>
					<control format="string" type="spinner"/>
					<constraints>
						<options>
							<option label="allmusic">allmusic</option>
							<option label="theaudiodb">theaudiodb</option>
						</options>
					</constraints>
				</setting>
				<setting help="30205" id="style" label="30005" type="string">
					<level>0</level>
					<default>allmusic</default>
					<control format="string" type="spinner"/>
					<constraints>
						<options>
							<option label="allmusic">allmusic</option>
							<option label="theaudiodb">theaudiodb</option>
						</options>
					</constraints>
				</setting>
				<setting help="30206" id="mood" label="30006" type="string">
					<level>0</level>
					<default>allmusic</default>
					<control format="string" type="spinner"/>
					<constraints>
						<options>
							<option label="allmusic">allmusic</option>
							<option label="theaudiodb">theaudiodb</option>
						</options>
					</constraints>
				</setting>
			</group>
		</category>
		<category id="options" label="33063">
			<group id="1">
				<setting help="30301" id="inaccurate" label="30101" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
