
*~
*.o
*.os
*.obj
*.a
*.lib
*.so
*.dylib
.scon*
*.pyc
*.swp
.DS_Store
test_*
benchmark
benchmark.exe
tags
config.log
docs/html
docs/source/sphinx/build
docs/source/doxygen
/BuildFiles/
/Run/
/error.log
