<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="host" type="ipaddress" label="30000" default="127.0.0.1" />
    <setting id="port" type="integer" label="30001" default="2004" />
		<setting id="ftaonly" type="bool" label="30002" default="false" />
		<setting id="useradio" type="bool" label="30003" default="true" />
</settings>
