<?xml version="1.0" encoding="UTF-8" ?> 
<Settings>
	<RegisteredSymbolFiles>
		<File>H:\programeren\xbmc\XBMC\Debug\xbmc.pdb</File>
		<File>C:\Program Files\Microsoft Xbox SDK\xbox\symbols\5558\xbdm.pdb</File>
		<File>C:\Program Files\Microsoft Xbox SDK\xbox\symbols\5558\xboxkrnl.pdb</File>
	</RegisteredSymbolFiles>
</Settings>