Checks: "\
  performance-faster-string-find,\
  performance-for-range-copy,\
  performance-implicit-conversion-in-loop,\
  performance-inefficient-algorithm,\
  performance-inefficient-vector-operation,\
  performance-move-const-arg,\
  performance-move-constructor-init,\
  performance-no-automatic-move,\
  performance-noexcept-move-constructor,\
  performance-trivially-destructible,\
  performance-type-promotion-in-math-fn,\
  performance-unnecessary-copy-initialization,\
  performance-unnecessary-value-param,\
"
HeaderFilterRegex: '(^|/)(tools|xbmc)/'
