<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2007 Johannes Lehtinen
 * This file is free software; Johannes Lehtinen gives unlimited
 * permission to copy, distribute and modify it.
-->
<plugin
  id="org.c-pluff.examples.cpfile.special"
  version="0.1"
  name="Special file classification"
  provider-name="Johannes Lehtinen">
  <requires>
    <c-pluff version="0.1"/>
    <import plugin="org.c-pluff.examples.cpfile.core" version="0.1"/>
  </requires>
  <runtime library="libspecial"/>
  <extension
    point="org.c-pluff.examples.cpfile.core.classifiers"
    name="Special file classifier"
    priority="100"
    classifier="cp_ex_cpfile_special_classifier"/>
</plugin>
