<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32020">
        <setting label="32021" type="bool" id="versioncheck_enable" default="true"/>
        <setting label="32023" type="bool" id="upgrade_system" default="false"/>
        <setting label="32024" type="bool" id="upgrade_apt" default="false"/>
    </category>
</settings>
