<?xml version="1.0" ?>
<settings version="1">
    <section id="service.xbmc.versioncheck">
        <category help="" id="general" label="32020">
            <group id="1">
                <setting help="" id="versioncheck_enable" label="32021" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="upgrade_system" label="32023" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting help="" id="upgrade_apt" label="32024" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
