<a class="artist-row artist-row-<%= artistid %>" href='#artist/<%= artistid %>' data-id="<%= artistid %>">
    <% if ( app.image.url(thumbnail) ) { %>
        <span class="image">
            <img class="lazy" src="<%= app.image.url() %>" data-original="<%= app.image.url(thumbnail) %>" width="45" height="45"/>
        </span>
        <div class="play-artist icon-play"></div>
    <% } %>
    <p class="list-item artist-title"><%= artist %></p>
    <p class="list-item artist-meta"><%= ( typeof subtext != 'undefined' ? subtext : '' )%></p>
</a>
