<div class="file-item file-type-<%= filetype %>">

        <img src="<%= app.image.url( thumbnail ) %>" class="thumb" />

    <%= title %>
    <div class="file-actions-wrapper">
        <div class="file-actions">
            <button class="file-play btn" title="Insert and play"><i class="fa fa-play"></i></button>
            <button class="file-add btn" title="Add this file to the playlist"><i class="fa fa-plus"></i></button>
            <button class="file-menu btn" title="More Options"><i class="fa fa-ellipsis-v"></i></button>
        </div>
    </div>
</div>

