<div class="channel-item">
    <div class="thumb-wrapper">
        <img src="<%= app.image.url( thumbnail ) %>" class="thumb" />
        <button class="channel-play btn" title="Insert and play"><i class="fa fa-play"></i></button>
    </div>
    <span class="name"><%= channel %></span>
    <div class="channel-actions-wrapper">
        <div class="channel-actions">
            <button class="channel-thumbsup btn" title="Thumbs Up"><i class="fa fa-thumbs-up"></i></button>
        </div>
    </div>
</div>
