<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<controls>
		<include>DefaultBackground</include>
		<control type="panel" id="9000">
			<left>92</left>
			<top>140</top>
			<width>1850</width>
			<height>819</height>
			<onleft>9000</onleft>
			<onright>9000</onright>
			<onup>9000</onup>
			<ondown>9000</ondown>
			<include>OpenClose_Right</include>
			<itemlayout height="270" width="440">
				<control type="image">
					<width>400</width>
					<height>250</height>
					<texture border="40">buttons/button-nofo.png</texture>
				</control>
				<control type="image">
					<left>21</left>
					<top>179</top>
					<width>358</width>
					<height>50</height>
					<texture colordiffuse="border_alpha">colors/black.png</texture>
				</control>
				<control type="image">
					<left>80</left>
					<top>10</top>
					<width>240</width>
					<height>240</height>
					<texture>$INFO[ListItem.Icon]</texture>
					<align>center</align>
				</control>
				<control type="label">
					<left>0</left>
					<top>185</top>
					<width>400</width>
					<height>400</height>
					<font>font12</font>
					<label>$INFO[ListItem.Label]</label>
					<align>center</align>
				</control>
			</itemlayout>
			<focusedlayout height="270" width="440">
				<control type="group">
					<depth>DepthContentPopout</depth>
					<animation type="Focus" reversible="false">
						<effect type="zoom" center="200,125" start="100" end="108" time="250" tween="sine" />
					</animation>
					<animation type="UnFocus" reversible="false">
						<effect type="zoom" center="200,125" start="108" end="100" time="250" tween="sine" />
					</animation>
					<control type="image">
						<width>400</width>
						<height>250</height>
						<texture border="40">buttons/button-nofo.png</texture>
						<animation effect="fade" start="0" end="100" time="0">Unfocus</animation>
						<animation effect="fade" start="100" end="0" time="0">Focus</animation>
					</control>
					<control type="image">
						<width>400</width>
						<height>250</height>
						<texture border="40" colordiffuse="button_focus">buttons/button-fo.png</texture>
						<animation effect="fade" start="100" end="0" time="0">Unfocus</animation>
					</control>
					<control type="image">
						<left>21</left>
						<top>179</top>
						<width>358</width>
						<height>50</height>
						<texture colordiffuse="border_alpha">colors/black.png</texture>
					</control>
					<control type="image">
						<left>80</left>
						<top>10</top>
						<width>240</width>
						<height>240</height>
						<texture>$INFO[ListItem.Icon]</texture>
						<align>center</align>
					</control>
					<control type="label">
						<left>0</left>
						<top>185</top>
						<width>400</width>
						<height>400</height>
						<font>font12</font>
						<label>$INFO[ListItem.Label]</label>
						<align>center</align>
					</control>
				</control>
			</focusedlayout>
			<content>
				<item>
					<label>$LOCALIZE[20094]</label>
					<onclick>ActivateWindow(1103)</onclick>
					<icon>icons/settings/filemanager.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14201]</label>
					<onclick>ActivateWindow(PlayerSettings)</onclick>
					<icon>icons/settings/video.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14212]</label>
					<onclick>ActivateWindow(MediaSettings)</onclick>
					<icon>icons/settings/library.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14205]</label>
					<onclick>ActivateWindow(PVRSettings)</onclick>
					<icon>icons/settings/livetv.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14208]</label>
					<onclick>ActivateWindow(ServiceSettings)</onclick>
					<icon>icons/settings/network.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14207]</label>
					<onclick>ActivateWindow(InterfaceSettings)</onclick>
					<icon>icons/settings/appearance.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[20077]</label>
					<onclick>ActivateWindow(SkinSettings)</onclick>
					<icon>icons/settings/skin.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14210]</label>
					<onclick>ActivateWindow(Profiles)</onclick>
					<icon>icons/settings/profiles.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14209]</label>
					<onclick>ActivateWindow(SystemSettings)</onclick>
					<icon>icons/settings/system.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[138]</label>
					<onclick>ActivateWindow(systeminfo)</onclick>
					<icon>icons/settings/sysinfo.png</icon>
				</item>
			</content>
		</control>
		<include content="TopBar">
			<param name="breadcrumbs_label" value="$LOCALIZE[5]" />
			<param name="breadcrumbs_icon" value="icons/settings/settings.png" />
		</include>
		<include>BottomBar</include>
	</controls>
</window>
