<settings>
<!--    <setting id="PresetPack" type="files" default="special://xbmc/addons/visualizations/Milkdrop/presets/" label="30009"/>-->
    <setting id="BlendTimeAuto" type="enum" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|20|25|30|35|40|45|50" label="30000" default="8" />
    <setting id="TimeBetweenPresets" type="enum" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|20|25|30|35|40|45|50|55" label="30001" default="8" />
    <setting id="TimeBetweenPresetsRand" type="enum" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|20|25|30|35|40|45|50|55" label="30002" default="5" />
<!--    <setting id="AnisotropicFiltering" label="30003" type="bool" default="true"/>-->
    <setting id="HardCutsEnabled" label="30004" type="bool" default="true"/>
    <setting id="HardCutLoudnessThresh" label="30005" type="enum" values="0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85|90|95|100" default="60"/>
    <setting id="HardCutsHalflife" label="30006" type="enum" values="0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85|90|95|100|105|110|115" default="60"/>
    <setting id="MaxRefreshRate" label="30007" type="enum" values="20|25|30|35|40|45|50|55|60" default="60"/>
    <setting id="Stereo3d" label="30008" type="bool" default="false"/>
</settings>
