//
//      Copyright (C) 2012-2013 Team XBMC
//      http://xbmc.org
//
//  This Program is free software; you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation; either version 2, or (at your option)
//  any later version.
//
//  This Program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with XBMC; see the file COPYING.  If not, see
//  <http://www.gnu.org/licenses/>.
//
//

#include "App.xcconfig"

PRODUCT_NAME = $(APP_NAME)
//build against latest
SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 5.1

ARCHS = armv7
VALID_ARCHS = armv7

EXECUTABLE_SUFFIX = .bin
XBMC_DEPENDS = $(XBMC_DEPENDS_ROOT)/$(SDK_NAME)_$(CURRENT_ARCH)-target
INSTALL_PATH = $(HOME)/Library/Bundles

USER_HEADER_SEARCH_PATHS = $(inherited) $XBMC_DEPENDS/include $XBMC_DEPENDS/include/libcec $XBMC_DEPENDS/include/mysql $XBMC_DEPENDS/include/freetype2 $XBMC_DEPENDS/include/python2.6

GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = NO
OTHER_CPLUSPLUSFLAGS = $(inherited) $(OTHER_CFLAGS) -Wreorder

OTHER_LDFLAGS = $(XBMC_OTHER_LDFLAGS_COMMON) -weak_framework VideoToolbox

GCC_PREPROCESSOR_DEFINITIONS = TARGET_DARWIN_IOS $(inherited)
