//
//      Copyright (C) 2012-2013 Team XBMC
//      http://xbmc.org
//
//  This Program is free software; you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation; either version 2, or (at your option)
//  any later version.
//
//  This Program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with XBMC; see the file COPYING.  If not, see
//  <http://www.gnu.org/licenses/>.
//
//

#include "App.xcconfig"

ARCHS = i386 x86_64
ONLY_ACTIVE_ARCH = YES

SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.7

XBMC_DEPENDS = $(XBMC_DEPENDS_ROOT)/$(SDK_NAME)_$(CURRENT_ARCH)-target

OTHER_LDFLAGS = -Wl,-search_paths_first $(XBMC_OTHER_LDFLAGS_COMMON) -lcdio -lfontconfig -lGLEW -lSDL

GCC_PREPROCESSOR_DEFINITIONS = TARGET_DARWIN_OSX $(inherited)
