<window>
  <id>4</id>
  <defaultcontrol>6</defaultcontrol>
  <allowoverlay>yes</allowoverlay>
  <controls>
    <control>
      <description>background image</description>
      <type>image</type>
      <id>1</id>
      <posX>0</posX>
      <posY>0</posY>
      <width>720</width>
      <height>576</height>
      <texture>background-settings.png</texture>
    </control>

    <control>
      <description>xbox media center label</description>
      <type>label</type>
      <id>1</id>
      <posX>200</posX>
      <posY>63</posY>
      <align>right</align>
      <label>xbox media center</label>
      <font>special12</font>
    </control>

    <control>
      <description>description label</description>
      <type>label</type>
      <id>1</id>
      <posX>207</posX>
      <posY>63</posY>
      <align>left</align>
      <label>10507</label>
      <font>special13</font>
    </control>

    <controlgroup>
      <control>
        <description>profiles</description>
        <type>button</type>
        <id>11</id>
        <posX>50</posX>
        <posY>120</posY>
        <label>13200</label>
        <execute>XBMC.ActivateWindow(34)</execute>
        <onleft>8</onleft>
        <onright>6</onright>
        <onup>13</onup>
        <ondown>12</ondown>
      </control>

      <control>
        <description>About XBMC</description>
        <type>button</type>
        <id>12</id>
        <posX>50</posX>
        <posY>157</posY>
        <label>482</label>
        <execute>XBMC.Credits()</execute>
        <onleft>8</onleft>
        <onright>6</onright>
        <onup>11</onup>
        <ondown>14</ondown>
      </control>

      <control>
        <description>Skin builder</description>
        <type>button</type>
        <id>14</id>
        <posX>50</posX>
        <posY>194</posY>
        <label>PY Skin Builder</label>
        <execute>XBMC.ActivateWindow(57)</execute>
        <onleft>8</onleft>
        <onright>6</onright>
        <onup>12</onup>
        <ondown>13</ondown>
      </control>

      <control>
        <description>skin reload</description>
        <type>button</type>
        <id>13</id>
        <posX>50</posX>
        <posY>231</posY>
        <label>Reload Skin</label>
        <execute>XBMC.ReloadSkin()</execute>
        <onleft>8</onleft>
        <onright>6</onright>
        <onup>14</onup>
        <ondown>11</ondown>
      </control>

    </controlgroup>

    <control>
      <description>My Videos</description>
      <type>button</type>
      <id>6</id>
      <font>font10</font>
      <posX>245</posX>
      <posY>155</posY>
      <width>80</width>
      <height>80</height>
      <textureFocus>settings-videos-focus.png</textureFocus>
      <textureNoFocus>settings-videos-nofocus.png</textureNoFocus>
      <alignY>top</alignY>
      <textOffsetY>100</textOffsetY>
      <label>3</label>
      <align>center</align>
      <hyperlink>17</hyperlink>
      <onleft>11</onleft>
      <onright>7</onright>
      <onup>10</onup>
      <ondown>10</ondown>
    </control>

    <control>
      <description>My Music</description>
      <type>button</type>
      <id>7</id>
      <font>font10</font>
      <posX>345</posX>
      <posY>155</posY>
      <width>80</width>
      <height>80</height>
      <textureFocus>settings-music-focus.png</textureFocus>
      <textureNoFocus>settings-music-nofocus.png</textureNoFocus>
      <alignY>top</alignY>
      <textOffsetY>100</textOffsetY>
      <label>2</label>
      <align>center</align>
      <hyperlink>15</hyperlink>
      <onleft>6</onleft>
      <onright>9</onright>
      <onup>2</onup>
      <ondown>2</ondown>
    </control>

    <control>
      <description>My Pictures</description>
      <type>button</type>
      <id>9</id>
      <font>font10</font>
      <posX>445</posX>
      <posY>155</posY>
      <width>80</width>
      <height>80</height>
      <textureFocus>settings-pictures-focus.png</textureFocus>
      <textureNoFocus>settings-pictures-nofocus.png</textureNoFocus>
      <alignY>top</alignY>
      <textOffsetY>100</textOffsetY>
      <label>1</label>
      <align>center</align>
      <hyperlink>12</hyperlink>
      <onleft>7</onleft>
      <onright>8</onright>
      <onup>4</onup>
      <ondown>4</ondown>
    </control>

    <control>
      <description>My Programs</description>
      <type>button</type>
      <id>8</id>
      <font>font10</font>
      <posX>545</posX>
      <posY>155</posY>
      <width>80</width>
      <height>80</height>
      <textureFocus>settings-programs-focus.png</textureFocus>
      <textureNoFocus>settings-programs-nofocus.png</textureNoFocus>
      <alignY>top</alignY>
      <textOffsetY>100</textOffsetY>
      <label>0</label>
      <align>center</align>
      <hyperlink>13</hyperlink>
      <onleft>9</onleft>
      <onright>11</onright>
      <onup>3</onup>
      <ondown>3</ondown>
    </control>

    <control>
      <description>My Weather</description>
      <type>button</type>
      <id>10</id>
      <font>font10</font>
      <posX>245</posX>
      <posY>325</posY>
      <width>80</width>
      <height>80</height>
      <textureFocus>settings-weather-focus.png</textureFocus>
      <textureNoFocus>settings-weather-nofocus.png</textureNoFocus>
      <alignY>top</alignY>
      <textOffsetY>100</textOffsetY>
      <label>8</label>
      <align>center</align>
      <hyperlink>14</hyperlink>
      <onleft>11</onleft>
      <onright>2</onright>
      <onup>6</onup>
      <ondown>6</ondown>
    </control>

    <control>
      <description>Network</description>
      <type>button</type>
      <id>2</id>
      <font>font10</font>
      <posX>345</posX>
      <posY>325</posY>
      <width>80</width>
      <height>80</height>
      <textureFocus>settings-network-focus.png</textureFocus>
      <textureNoFocus>settings-network-nofocus.png</textureNoFocus>
      <alignY>top</alignY>
      <textOffsetY>100</textOffsetY>
      <label>705</label>
      <align>center</align>
      <hyperlink>18</hyperlink>
      <onleft>10</onleft>
      <onright>4</onright>
      <onup>7</onup>
      <ondown>7</ondown>
    </control>

    <control>
      <description>System</description>
      <type>button</type>
      <id>4</id>
      <font>font10</font>
      <posX>445</posX>
      <posY>325</posY>
      <width>80</width>
      <height>80</height>
      <textureFocus>settings-system-focus.png</textureFocus>
      <textureNoFocus>settings-system-nofocus.png</textureNoFocus>
      <alignY>top</alignY>
      <textOffsetY>100</textOffsetY>
      <label>13000</label>
      <align>center</align>
      <hyperlink>16</hyperlink>
      <onleft>2</onleft>
      <onright>3</onright>
      <onup>9</onup>
      <ondown>9</ondown>
    </control>

    <control>
      <description>Appearance</description>
      <type>button</type>
      <id>3</id>
      <font>font10</font>
      <posX>545</posX>
      <posY>325</posY>
      <width>80</width>
      <height>80</height>
      <textureFocus>settings-appearance-focus.png</textureFocus>
      <textureNoFocus>settings-appearance-nofocus.png</textureNoFocus>
      <alignY>top</alignY>
      <textOffsetY>100</textOffsetY>
      <label>480</label>
      <align>center</align>
      <hyperlink>19</hyperlink>
      <onleft>4</onleft>
      <onright>11</onright>
      <onup>8</onup>
      <ondown>8</ondown>
    </control>

  </controls>

</window>

