#!/usr/bin/make -f

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# Get the SVN revision from the changelog
SVNVERSION ?= $(shell dpkg-parsechangelog | grep '^Version:' | sed 's/.*svn\([[:digit:]]*\).*/\1/')

# List of options to pass to configure. Can be overridden.
XBMC_CONFIG_OPTIONS ?= --host=$(DEB_HOST_GNU_TYPE) \
	--build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --disable-ccache \
	--enable-goom --enable-avahi \
	 CFLAGS="$(DEB_CFLAGS)" CXXFLAGS="$(DEB_CXXFLAGS)"

# Add the SVN revision if it exists in the changelog
ifeq (,$(findstring Version,$(SVNVERSION)))
  XBMC_CONFIG_OPTIONS += SVN_REV="$(SVNVERSION)"
endif

# Ubuntu or Debian specific options
ifneq (Ubuntu,$(shell lsb_release -is))
  XBMC_CONFIG_OPTIONS += --disable-dvdcss --enable-external-libraries
else
  XBMC_CONFIG_OPTIONS += --enable-vdpau
endif

%:
	dh $@

override_dh_clean:
	dh_clean

override_dh_auto_configure:
	./bootstrap
	./configure $(XBMC_CONFIG_OPTIONS)

override_dh_auto_install:
	$(MAKE) install install-livedatas prefix=$(CURDIR)/debian/tmp/usr
	mkdir -p $(CURDIR)/debian/tmp/etc/init/
	cp $(CURDIR)/tools/XBMCLive/xbmc-live.conf $(CURDIR)/debian/tmp/etc/init/
	cp $(CURDIR)/tools/XBMCLive/xbmc-live-install.conf $(CURDIR)/debian/tmp/etc/init/
	find "debian/tmp/usr/share/xbmc" -regextype posix-extended \
		-type f -iregex \
		".*\.so|.*\.vis|.*\.xbs|.*xbmc\.bin|.*xbmc-xrandr" | \
		while read FILE; do \
		NEW_LOCATION="$$(echo $$FILE | sed -e 's|usr/share|usr/lib|')"; \
		install -D "$$FILE" "$$NEW_LOCATION"; \
		rm "$$FILE"; \
		done
	$(MAKE) eventclients prefix=$(CURDIR)/debian/tmp/usr \
		installdir=/usr WII_EXTRA_OPTS=-DCWIID_OLD
	mkdir -p $(CURDIR)/debian/tmp/usr/share/applications \
		$(CURDIR)/debian/tmp/usr/share/pixmaps
	cp $(CURDIR)/tools/Linux/xbmc.png \
		$(CURDIR)/debian/tmp/usr/share/pixmaps/
	cp $(CURDIR)/tools/Linux/xbmc.desktop \
		$(CURDIR)/debian/tmp/usr/share/applications/

override_dh_install:
	dh_install --sourcedir=$(CURDIR)/debian/tmp -XLICENCE \
		-XLiberationSans-Regular.ttf -XLicence.txt -XLicense.txt
	# XBMC WEB PM
	dh_install -pxbmc-web-pm ../../web/Project_Mayhem \
		usr/share/xbmc/web
	# XBMC WEB PM3
	dh_install -pxbmc-web-pm3 ../../web/Project_Mayhem_III \
		usr/share/xbmc/web
	# XBMC WEB Iphone
	dh_install -pxbmc-web-iphone-tlrobinson ../../web/xbmciphone/iphone \
		usr/share/xbmc/web

override_dh_link:
	dh_link
	find "debian/xbmc-bin/usr/lib" -regextype posix-extended -type f | \
		while read FILE; do \
		LINK_TARGET="$$(echo "$$FILE" | sed -e 's|debian/xbmc-bin/||')"; \
		LINK_DESTINATION="$$(echo "$$FILE" | sed -e 's|debian/xbmc-bin/usr/lib|usr/share|')"; \
		dh_link -pxbmc-data "$$LINK_TARGET" "$$LINK_DESTINATION"; \
		done

override_dh_strip:
	dh_strip --dbg-package=xbmc-dbg

override_dh_makeshlibs:
	# We don't install shared libraries in standard locations so don't edit
	# postinst/postrm scripts to call ldconfig
	dh_makeshlibs -n

override_dh_installdocs:
	dh_installdocs
	dh_installdocs -pxbmc-web-iphone-tlrobinson \
		$(CURDIR)/web/xbmciphone/README
