<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label="30016"> <!-- Media Sources -->
		<setting id="discovery" type="enum" label="30004" lvalues="30053|30070" default="1" />
		<setting id="ipaddress" type="text" label="30000" default="<none>" visible="eq(-1,0)" enable="eq(-1,0)"/>
		<setting id="port" type="text" label="30030" default="32400" visible="eq(-2,0)" enable="eq(-2,0)"/>
		<setting type="sep" />
		<setting id="myplex_user" type="text" label="30024" />
		<setting id="myplex_pass" type="text" option="hidden" label="30025" />
		<setting id="myplex_token" type="text" visible="false" option="hidden" />
	</category>

	<category label="30017"> <!-- Playback -->
        <setting id="streaming" type="enum" label="30001" lvalues="30011|30012|30013|30063" default="0"/>
        <setting id="streamControl" type="enum" label="30038" lvalues="30036|30067|30039" default="1" />
		<setting id="forcedvd" type="bool" label="30060" default="false"/>
		<setting id="nasoverride" type="bool" label="30061" default="false"/>
		<setting id="nasoverrideip" type="text" label="30062" default="" subsetting="true" visible="eq(-1,true)" enable="eq(-1,true)" />
		<setting id="nasuserid" type="text" label="30064" default="" subsetting="true" visible="eq(-2,true)" enable="eq(-2,true)" />
		<setting id="naspass" type="text" label="30065" option="hidden" subsetting="true" default="" visible="eq(-3,true)" enable="eq(-3,true)" />
		<setting id="nasroot" type="text" label="30066" default="" subsetting="true" visible="eq(-4,true)" enable="eq(-4,true)" />
        <setting id="selectMaster" label="30026" type="action" action="RunScript(plugin.video.plexbmc, master)" />
        <setting id="masterServer" label="30071" type="text" default="" />
    </category>

    <category label="30018" > <!-- Transcoding -->
        <setting id="quality" type="enum" label="30040" values="320kbps, 240p|720kbps, 320p|1.5Mbps, 480p|2Mbps, 720p|3Mbps, 720p|4Mbps, 720p|8Mbps, 1080p|10Mbps, 1080p|12Mbps, 1080p|20Mbps, 1080p" />
        <setting id="audiotype" type="enum" label="30057" values="Stereo|AC3|DTS" default="0" />
        <setting id="transcode" type="bool" label="30007" default="false"/>
		<setting id="subSize" label="30068" type="slider" option="int" range="0,300" default="100" />
		<setting id="audioSize" label="30069" type="slider" option="int" range="0,300" default="0" />
	</category>

    <category label="30019" > <!-- WOL -->
        <setting id="wolon" type="bool" label="30023" default="false" />
        <setting id="wol1" type="text" label="MAC Address 1" visible="eq(-1,true)" enable="eq(-1,true)" default="" />
        <setting id="wol2" type="text" label="MAC Address 2" visible="eq(-2,true)" enable="eq(-2,true)" default="" />
        <setting id="wol3" type="text" label="MAC Address 3" visible="eq(-3,true)" enable="eq(-3,true)" default="" />
        <setting id="wol4" type="text" label="MAC Address 4" visible="eq(-4,true)" enable="eq(-4,true)" default="" />
        <setting id="wol5" type="text" label="MAC Address 5" visible="eq(-5,true)" enable="eq(-5,true)" default="" />
        <setting id="wol6" type="text" label="MAC Address 6" visible="eq(-6,true)" enable="eq(-6,true)" default="" />
        <setting id="wol7" type="text" label="MAC Address 7" visible="eq(-7,true)" enable="eq(-7,true)" default="" />
        <setting id="wol8" type="text" label="MAC Address 8" visible="eq(-8,true)" enable="eq(-8,true)" default="" />
        <setting id="wol9" type="text" label="MAC Address 9" visible="eq(-9,true)" enable="eq(-9,true)" default="" />
        <setting id="wol10" type="text" label="MAC Address 10" visible="eq(-10,true)" enable="eq(-10,true)" default="" />
        <setting id="wol11" type="text" label="MAC Address 11" visible="eq(-11,true)" enable="eq(-11,true)" default="" />
    </category>

    <category label="30020" > <!-- Look and feel -->
        <setting id="secondary" type="bool" label="30003" default="true"/>
		<setting id="homeshelf" type="enum" label="30072" lvalues="30073|30074" default="0" />
        <setting id="channelview" type="bool" label="30042" default="false"/>
        <setting id="flatten" type="enum" label="30043" lvalues="30053|30058|30059" default="0"/>
        <setting id="hide_shared" type="bool" label="30092" default="false"/>
        <setting id="contextreplace" type="bool" label="30048" default="true"/>
        <setting id="skipcontextmenus" type="bool" label="30052" default="false" />
        <setting id="skipmetadata" type="bool" label="30049" default="false" />
        <setting id="skipimages" type="bool"  label="30050" default="false" />
        <setting id="skipflags" type="bool"  label="30051" default="false" />
		<setting id="skinoverride" type="bool" label="30075" default="false" />
		<setting id="skinname" type="enum" label="30076" values="Quartz|Quartz V3|Confluence" default="Confluence"  visible="eq(-1,true)" enable="eq(-1,true)" subsetting="true" />
		#Quartz Skin
		<setting id="mo_view_0" type="labelenum" label="30077" values="None|List|MediaInfo|MediaInfo 2|Icons|Wide|Big Icons|Icons 2|Panel|Fanart|Fanart 2" default="None" subsetting="true"  visible="eq(-1,0)" enable="eq(-2,true)+eq(-1,0)"/>
		<setting id="tv_view_0" type="labelenum" label="30078" values="None|List|MediaInfo|MediaInfo 2|Icons|Wide|Big Icons|Icons 2|Panel|Fanart|Fanart 2" default="None" subsetting="true"  visible="eq(-2,0)" enable="eq(-3,true)+eq(-2,0)"/>/
		<setting id="se_view_0" type="labelenum" label="30079" values="None|List|MediaInfo|MediaInfo 2|Icons|Wide|Big Icons|Icons 2|Panel|Fanart|Fanart 2" default="None" subsetting="true"  visible="eq(-3,0)" enable="eq(-4,true)+eq(-3,0)"/>
		<setting id="ep_view_0" type="labelenum" label="30080" values="None|List|MediaInfo|MediaInfo 2|Icons|Wide|Big Icons|Icons 2|Panel|Fanart|Fanart 2" default="None" subsetting="true"  visible="eq(-4,0)" enable="eq(-5,true)+eq(-4,0)"/>
		<setting id="mu_view_0" type="labelenum" label="30081" values="None|List|MediaInfo|MediaInfo 2|Icons|Wide|Big Icons|Icons 2|Panel|Fanart|Fanart 2" default="None" subsetting="true"  visible="eq(-5,0)" enable="eq(-6,true)+eq(-5,0)"/>
		#Quartz V3 Skin
		<setting id="mo_view_1" type="labelenum" label="30077" values="None|List|Big List|MediaInfo|MediaInfo 2|Big Icons|Icons|Panel|Wide|Fanart 1|Fanart 2|Fanart 3" default="None" subsetting="true"  visible="eq(-7,true)+eq(-6,1)" enable="eq(-7,true)+eq(-6,1)"/>
		<setting id="tv_view_1" type="labelenum" label="30078" values="None|List|Big List|MediaInfo|MediaInfo 2|Big Icons|Icons|Panel|Wide|Fanart 1|Fanart 2|Fanart 3" default="None" subsetting="true"  visible="eq(-8,true)+eq(-7,1)" enable="eq(-8,true)+eq(-7,1)"/>
		<setting id="se_view_1" type="labelenum" label="30079" values="None|List|MediaInfo|MediaInfo 2|Icons|Wide|Big Icons|Icons 2|Panel|Fanart 1|Fanart 2" default="None" subsetting="true"  visible="eq(-9,true)+eq(-8,1)" enable="eq(-9,true)+eq(-8,1)"/>
		<setting id="ep_view_1" type="labelenum" label="30080" values="None|List|Big List|MediaInfo|MediaInfo 2|Icons|Panel|Wide|Fanart 3" default="None" subsetting="true"  visible="eq(-10,true)+eq(-9,1)" enable="eq(-10,true)+eq(-9,1)"/>
		<setting id="mu_view_1" type="labelenum" label="30081" values="None|List|Icons|Fanart 3" default="None" subsetting="true"  visible="eq(-11,true)+eq(-10,1)" enable="eq(-11,true)+eq(-10,1)"/>
		#Confluence Skin
		<setting id="mo_view_2" type="labelenum" label="30077" values="None|List|Big List|Thumbnail|Poster Wrap|Fanart|Media Info|Media Info 2" default="None" subsetting="true"  visible="eq(-12,true)+eq(-11,2)" enable="eq(-12,true)+eq(-11,2)"/>
		<setting id="tv_view_2" type="labelenum" label="30078" values="None|Big List|Thumbnail|Media Info|Media Info 2|Wide Icons" default="None" subsetting="true"  visible="eq(-13,true)+eq(-12,2)" enable="eq(-13,true)+eq(-12,2)"/>
		<setting id="se_view_2" type="labelenum" label="30079" values="None|List|Big List|Thumbnail|Poster Wrap|Fanart|Media Info|Media Info 2" default="None" subsetting="true"  visible="eq(-14,true)+eq(-13,2)" enable="eq(-14,true)+eq(-13,2)"/>
		<setting id="ep_view_2" type="labelenum" label="30080" values="None|List|Big List|Thumbnail|Media Info|Media Info 2" default="None" subsetting="true"  visible="eq(-15,true)+eq(-14,2)" enable="eq(-15,true)+eq(-14,2)"/>
		<setting id="mu_view_2" type="labelenum" label="30081" values="None|List|Big List|Thumbnail|Media Info" default="None" subsetting="true"  visible="eq(-16,true)+eq(-15,2)" enable="eq(-16,true)+eq(-15,2)"/>
    </category>

    <category label="30021" > <!-- Shelf -->
		<setting id="movieShelf" type="bool" label="30082" default="true" />
		<setting id="tvShelf" type="bool" label="30083" default="true" />
		<setting id="musicShelf" type="bool" label="30084" default="true" />
     	<setting id="channelShelf" type="bool" label="30085" default="true" />
		<setting id="contentFilter" type="labelenum" label="30086" values="Kids|Teens|Adults" default="Adults" />
		<setting id="contentNone" type="labelenum" label="30087" values="Kids|Teens|Adults" default="Adults" />
	</category>

    <category label="30022" > <!-- debug -->
        <setting id="debug" type="bool" label="30014" default="false" />
        <setting id="libraryfilter" type="text" label="30088" default="" />
    </category>

</settings>
