<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="128">
    <setting type="lsep" label="General Settings"/>
      <setting label="30002" type="labelenum" values="TheAudioDb.com|None" id="albumreviewsource" default="TheAudioDb.com"/>
      <setting label="30003" type="select" values="cn|de|en|es|fr|hu|il|it|jp|nl|no|pl|pt|ru|se" id="tadbalbumlanguage" default="en" visible="eq(-1,0)"/>
      <setting type="sep"/>
      <setting label="30004" type="labelenum" values="MusicBrainz|allmusic.com|TheAudioDb.com|None" id="albumratingsource" default="MusicBrainz"/>
      <setting label="30005" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="albumstylessource" default="TheAudioDb.com"/>
      <setting label="30006" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="albummoodssource" default="TheAudioDb.com"/>
      <setting label="30007" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="albumthemessource" default="TheAudioDb.com"/>
  </category>

  <category label="30009">
    <setting type="lsep" label="Artwork Settings"/>
      <setting label="30000" type="bool" id="fanarttvalbumthumbs" default="true"/>
      <setting label="30010" type="bool" id="tadbalbumthumbs" default="true"/>
      <setting label="30008" type="bool" id="allmusicalbumthumbs" default="false"/>
	  <setting label="30013" type="bool" id="fanarttvalbumdiscart" default="false"/>
	  <setting label="30015" type="bool" id="tadbalbumdiscart" default="false"/>
	  <setting label="30014" type="bool" id="tadbalbumback" default="false"/>
	  <setting label="30016" type="bool" id="tadbalbumspine" default="false"/>
  </category>

  <category label="30011">
      <setting label="30012" type="text" id="mbsite" default="https://musicbrainz.org"/>
  </category>
</settings>
