Section: video
Priority: optional
Maintainer: empat zero 
Package: xbmca10
Architecture: armel
Version: 0.0.1-alpha
Depends: mesa-utils,
 x11-utils,
 ttf-liberation,
 ttf-dejavu-core,
 python-imaging,
 python,
 python-support (>= 0.90.0),
 libasound2 (>= 1.0.23), 
 libavahi-client3 (>= 0.6.16),
 libavahi-common3 (>= 0.6.16),
 libbluetooth3 (>= 4.91),
 libbz2-1.0,
 libc6 (>= 2.15),
 libcdio13,
 libdbus-1-3 (>= 1.0.2),
 libexpat1 (>= 1.95.8),
 libfreetype6 (>= 2.2.1),
 libfribidi0 (>= 0.19.2),
 libgcc1 (>= 1:4.1.1),
 libgcrypt11 (>= 1.4.5),
 libgl1-mesa-glx | libgl1,
 libglew1.6 (>= 1.6.0),
 libglu1-mesa | libglu1,
 libhal-storage1 (>= 0.5.8.1),
 libhal1 (>= 0.5.8.1),
 libjpeg8 (>= 8c),
 liblzo2-2,
 libmicrohttpd5,
 libmysqlclient18 (>= 5.5.13-1),
 libpcre3 (>= 8.10),
 libpcrecpp0 (>= 7.7),
 libpng12-0 (>= 1.2.13-4),
 libpulse0 (>= 1:1.0),
 libpython2.7 (>= 2.7),
 libsamplerate0 (>= 0.1.7),
 libsdl-mixer1.2,
 libsdl1.2debian (>= 1.2.10-1),
 libsmbclient (>= 2:3.2.0),
 libsqlite3-0 (>= 3.6.11),
 libssl1.0.0 (>= 1.0.0),
 libstdc++6 (>= 4.6),
 libtiff4,
 libudev0 (>= 147),
 libva-glx1,
 libva1 (>> 1.0.15~),
 libvorbis0a (>= 1.1.2),
 libvorbisenc2 (>= 1.1.2),
 libx11-6,
 libxext6,
 libxmu6,
 libxrandr2 (>= 2:1.2.0),
 libyajl1 (>= 1.0.5),
 zlib1g (>= 1:1.1.4),
 libcurl3-gnutls (>= 7.16.2-1),
 libtinyxml2.6.2,
 libssh-4
Recommends: libass4 (>= 0.9.7),
 libbluray1,
 libcec1,
 libflac8 (>= 1.2.1),
 libmad0 (>= 0.15.1b-3),
 libmodplug1,
 libmp3lame0,
 libmpeg2-4,
 libnfs1,
 libogg0 (>= 1.0rc3),
 libplist1 (>= 0.13),
 librtmp0 (>= 2.3),
 libshairport1,
 libvdpau1 (>= 0.2),
 libvorbisfile3 (>= 1.1.2)
Description: Allwinner A10 test version of XBMC. Strictly alpha, use at your own risk.

