<?xml version="1.0" encoding="UTF-8"?>
<plugin
  id="org.xbmc.core.vfs"
  version="0.1"
  name="Core logic for vfsprovider"
  provider-name="TEAMXBMC">
  <requires>
    <c-pluff version="0.1"/>
  </requires>
  <runtime library="libxbmcvfs" funcs="xbmc_vfs_core_funcs"/>
  <extension-point
    id="provider"
    name="File system provider"
    schema="vfsprovider.xsd"/>
</plugin>
