<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>XBMC</string>
	<key>CFBundleGetInfoString</key>
	<string>11.0.rc1</string>
	<key>CFBundleIconFile</key>
	<string>xbmc.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.teamxbmc.xbmc</string>
	<key>CFBundleName</key>
	<string>XBMC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.0.rc1</string>
	<key>CFBundleVersion</key>
	<string>r####</string>
	<key>CFBundleSignature</key>
	<string>xbmc</string>
</dict>
</plist>
