<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="host" type="ipaddress" label="30000" default="127.0.0.1" />
    <setting id="port" type="integer" label="30001" default="9596" />
    <setting id="ftaonly" type="bool" label="30002" default="false" />
    <setting id="useradio" type="bool" label="30003" default="true" />
    <setting id="convertchar" type="bool" label="30004" default="false" />
    <setting id="timeout" type="enum" label="30005" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15" default="3"/>
    <setting id="tvgroup" type="text" label="30006" default="" />
    <setting id="radiogroup" type="text" label="30007" default="" />
    <setting id="resolvertsphostname" type="bool" label="30008" default="false" />
    <setting id="readgenre" type="bool" label="30009" default="false" />
</settings>
