<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<onunload>ClearProperty(PopupMenuVisible,Home)</onunload>
	<controls>
		<include>CommonBackground</include>
		<include content="SettingsPanel" condition="String.IsEqual(Skin.AspectRatio,16:9)">
			<param name="panel-posx">160</param>
			<param name="panel-width">1500</param>
			<param name="layout-width">500</param>
		</include>
		<include content="SettingsPanel" condition="String.IsEqual(Skin.AspectRatio,4:3)">
			<param name="panel-posx">40</param>
			<param name="panel-width">1200</param>
			<param name="layout-width">400</param>
		</include>
		<include>Header</include>
		<include>CommonNowPlaying</include>
		<include>Footer</include>
		<control type="textbox">
			<description>Settings Description</description>
			<posx>250</posx>
			<posy>70r</posy>
			<width>780</width>
			<height>60</height>
			<label>$INFO[Container(9000).ListItem.Label2]</label>
			<font>font22</font>
			<textcolor>blue</textcolor>
			<align>center</align>
			<include>16x9_xPos_Relocation</include>
		</control>
		<control type="label">
			<description>Window label</description>
			<include>MediaWindowTitleCommons</include>
			<label>$LOCALIZE[5]</label>
		</control>
		<control type="panel" id="9002">
			<include>VisibleFadeEffect</include>
			<include>BottomMenuLayout</include>
			<content>
				<item>
					<label>31200</label>
					<onclick>Back</onclick>
					<icon>icon_button_back.png</icon>
				</item>
				<item>
					<label>1036</label>
					<onclick>ActivateWindow(FavouritesBrowser)</onclick>
					<icon>icon_button_favourites.png</icon>
				</item>
				<item>
					<label>5</label>
					<onclick condition="String.IsEmpty(Window(Home).Property(PopupMenuVisible))">SetProperty(PopupMenuVisible,Show,Home)</onclick>
					<onclick condition="!String.IsEmpty(Window(Home).Property(PopupMenuVisible))">ClearProperty(PopupMenuVisible,Home)</onclick>
					<icon>icon_button_settings.png</icon>
				</item>
			</content>
		</control>
		<include content="PopupMenu">
			<param name="panel-posy">480</param>
			<param name="panel-height">80</param>
		</include>
	</controls>
</window>
