<window id="4">
	<defaultcontrol>50</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<control type="group">
			<include>Window_OpenClose_Right_Panel_Animation</include>
			<include>ContentPanel</include>
			<control type="panel" id="50">
				<posx>300</posx>
				<posy>130</posy>
				<width>950</width>
				<height>512</height>
				<onleft>9000</onleft>
				<onright>9000</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<viewtype label="21371">panel</viewtype>
				<pagecontrol>-</pagecontrol>
				<scrolltime>200</scrolltime>
				<preloaditems>2</preloaditems>
				<itemlayout height="256" width="190">
					<control type="image">
						<posx>5</posx>
						<posy>5</posy>
						<width>180</width>
						<height>210</height>
						<texture>$INFO[Listitem.Icon]</texture>
					</control>
					<control type="label">
						<posx>95</posx>
						<posy>220</posy>
						<width>180</width>
						<height>25</height>
						<font>font13</font>
						<textcolor>grey2</textcolor>
						<selectedcolor>green</selectedcolor>
						<align>center</align>
						<aligny>center</aligny>
						<label>[B]$INFO[ListItem.Label][/B]</label>
					</control>
				</itemlayout>
				<focusedlayout height="256" width="190">
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>190</width>
						<height>256</height>
						<aspectratio>stretch</aspectratio>
						<texture border="5">button-focus.png</texture>
					</control>
					<control type="image">
						<posx>5</posx>
						<posy>5</posy>
						<width>180</width>
						<height>210</height>
						<texture>$INFO[Listitem.Icon]</texture>
					</control>
					<control type="label">
						<posx>95</posx>
						<posy>220</posy>
						<width>180</width>
						<height>25</height>
						<font>font13</font>
						<textcolor>white</textcolor>
						<selectedcolor>green</selectedcolor>
						<align>center</align>
						<aligny>center</aligny>
						<label>[B]$INFO[ListItem.Label][/B]</label>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>3</label>
						<onclick>ActivateWindow(MyVideosSettings)</onclick>
						<icon>icon_video.png</icon>
					</item>
					<item>
						<label>2</label>
						<onclick>ActivateWindow(MyMusicSettings)</onclick>
						<icon>icon_music.png</icon>
					</item>
					<item>
						<label>1</label>
						<onclick>ActivateWindow(MyPicturesSettings)</onclick>
						<icon>icon_pics.png</icon>
					</item>
					<item>
						<label>24001</label>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>icon_addons.png</icon>
					</item>
					<item>
						<label>13200</label>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>unknown-user.png</icon>
					</item>
					<item>
						<label>8</label>
						<onclick>ActivateWindow(MyWeatherSettings)</onclick>
						<icon>icon_weather.png</icon>
					</item>
					<item>
						<label>705</label>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
						<icon>icon_network.png</icon>
					</item>
					<item>
						<label>13000</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>icon_system.png</icon>
					</item>
					<item>
						<label>480</label>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>icon_appearence.png</icon>
					</item>
				</content>
			</control>
		</control>
		<control type="group">
			<include>Window_OpenClose_Left_Panel_Animation</include>
			<include>CommonNowPlaying</include>
			<control type="group" id="9000">
				<posx>0</posx>
				<posy>130</posy>
				<control type="button" id="20">
					<description>Filemanager button</description>
					<posx>0</posx>
					<posy>0</posy>
					<include>ButtonCommonValues</include>
					<label>7</label>
					<onclick>ActivateWindow(FileManager)</onclick>
					<onleft>50</onleft>
					<onright>50</onright>
					<onup>611</onup>
					<ondown>21</ondown>
				</control>
				<control type="button" id="21">
					<description>Skin Settings button</description>
					<posx>0</posx>
					<posy>45</posy>
					<include>ButtonCommonValues</include>
					<label>20077</label>
					<onclick>ActivateWindow(1111)</onclick>
					<onleft>50</onleft>
					<onright>50</onright>
					<onup>20</onup>
					<ondown>610</ondown>
					<pulseonselect>no</pulseonselect>
					<visible>true</visible>
				</control>
				<control type="button" id="610">
					<description>Fake Button to fix Player Controls Navigation</description>
					<onup>21</onup>
					<ondown>603</ondown>
					<visible>false</visible>
				</control>
				<control type="group">
					<posx>0</posx>
					<posy>90</posy>
					<include>CommonNowPlaying_Controls</include>
				</control>
				<control type="button" id="611">
					<description>Fake Button to fix Player Controls Navigation</description>
					<onup>607</onup>
					<ondown>20</ondown>
					<visible>false</visible>
				</control>
			</control>
		</control>
		<control type="image">
			<posx>0</posx>
			<posy>0</posy>
			<width>1280</width>
			<height>128</height>
			<texture>Header.png</texture>
		</control>
		<control type="label">
			<include>WindowTitleCommons</include>
			<label>$LOCALIZE[9] - $LOCALIZE[5]</label>
		</control>
	</controls>
</window>