#!/usr/bin/make -f
#
# 	Debian source package rules makefile for appweb-src
#
# 	Copyright (c) Mbedthis Software LLC, 2003-2007. All Rights Reserved.
#

build: 
	./configure
	make

clean:
	make clean

install: build
	make install

## Local variables:
## tab-width: 4
## End:
## vim: sw=4 ts=4

