/configure
/Makefile.include
/autom4te.cache/
/**/.gitignore
/**/.installed-*
/target/*/.patched-*
/target/*/.installed-*
/native/*/.installed-*
/target/*/x86/*
/native/*/x86-native/*
/target/*/armeabi-v7a/*
/native/*/armeabi-v7a-native/*
/target/*/arm-linux-gnueabihf/*
/native/*/x86_64-linux-gnu-native/*
/target/*/arm-linux-androideabi-*/*
/target/*/x86_64-linux-gnu/*
/target/*/arm-linux-gnueabi/*
/native/*/x86_64-darwin*.*.*-native/
/target/*/iphoneos*.*_arm*-target/*
/target/*/macosx*.*_x86_64-target/*
/target/*/macosx*.*_i386-target/*
/target/*/iphoneos*.*_arm*-target/
/target/*/macosx*.*_x86_64-target/
/target/*/macosx*.*_i386-target/
/pre-depends/
/pre-build-deps/
Toolchain.cmake
config.site
config.site.native
