/configure
/Makefile.include
/autom4te.cache/
/**/.gitignore
/**/.installed-*

/native/*/.installed-*
/native/*/x86-native/*
/native/*/x86_64-linux-gnu-native/*
/native/*/x86_64-darwin*.*.*-native/
/native/*/*-darwin*.*.*-native/
/native/*/armeabi-v7a-native/*

/target/*/.installed-*
/target/*/native/*
/target/*/x86/*
/target/*/x86_64-linux-android-**
/target/*/x86_64-linux-gnu-**
/target/*/armeabi-v7a-**
/target/*/arm*-linux-gnueabihf-**
/target/*/arm*-linux-androideabi-**
/target/*/arm*-linux-gnueabi-**
/target/*/aarch64-linux-**
/target/*/macosx*-target-**
/target/*/i686-linux-android-**
/target/*/iphoneos*.*_arm*-target-**
/target/*/iphonesimulator*.*_x86_64*-target-**
/target/*/appletvos*.*_arm64*-target-**
/target/*/appletvsimulator*.*_x86_64*-target-**

/pre-depends/
/pre-build-deps/
Toolchain.cmake
Toolchain-Native.cmake
config.site
config.site.native
/native/*/*native/
/JsonSchemaBuilder/bin/
/TexturePacker/bin/
/target/ffmpeg/.build-*
/target/ffmpeg/.ffmpeg-installed
/target/ffmpeg/ffmpeg-*-*.tar.gz
/target/ffmpeg/ffmpeg-*-*/
/tools/depends/target/ffmpeg/ffmpeg-install/
/tools/depends/target/Toolchain_binaddons.cmake
/tools/depends/target/config-binaddons.site
/target/cross-file.meson
/target/libfmt/fmt-*.tar.gz
/target/rapidjson/rapidjson-*.tar.gz
/target/flatbuffers/*.tar.gz
/target/libspdlog/spdlog-*.tar.gz
