<window id="4">
  <defaultcontrol>9000</defaultcontrol>
  <allowoverlay>no</allowoverlay>

  <controls>

    <control type="image">
      <description>Background</description>
      <posx>0</posx>
      <posy>0</posy>
      <width>1280</width>
      <height>269</height>
      <texture>CreditsBG.png</texture>
    </control>
  
    <control type="image">
      <description>Background</description>
      <posx>1100</posx>
      <posy>220</posy>
      <width>154</width>
      <height>162</height>
      <texture>razorfishlogo.png</texture>
    </control>
  
<!-- Preview Images -->
<!--
    <control type="grouplist">
      <posx>40</posx>
      <posy>30</posy>
      <width>1200</width>
      <height>150</height>
      <orientation>horizontal</orientation>
      <itemgap>50</itemgap>
  
      <control type="image">
        <description>Preview 1</description>
        <width>256</width>
        <height>144</height>
        <texture>ViewThumbEpisodes.png</texture>
      </control>
  
      <control type="image">
        <description>Preview 2</description>
        <width>256</width>
        <height>144</height>
        <texture>ViewThumbPictures.png</texture>
      </control>
  
      <control type="image">
        <description>Preview 3</description>
        <width>256</width>
        <height>144</height>
        <texture>ViewThumbMediaPreview.png</texture>
      </control>
  
      <control type="image">
        <description>Preview 4</description>
        <width>256</width>
        <height>144</height>
        <texture>ViewThumbSeasons.png</texture>
      </control>
  
    </control>

-->
    <control type="group">
      <posx>10</posx>
      <posy>10</posy>
      
      <control type="image">
        <posx>7</posx>
        <posy>250</posy>
        <texture>logo.png</texture>
        <height>150</height>
        <width>240</width>
      </control>

<!--  
      <control type="label">
        <description>Salutation</description>
        <posx>75</posx>
        <posy>270</posy>
        <width>700</width>
        <scroll>true</scroll>
        <align>left</align>
        <label>$LOCALIZE[31801]</label>
        <font>XLargeDefaultCapsFont</font>
        <textcolor>Highlighted</textcolor>
      </control>
  
      <control type="label">
        <description>Title</description>
        <posx>55</posx>
        <posy>297</posy>
        <width>700</width>
        <scroll>true</scroll>
        <align>left</align>
        <label>MediaStream</label>
        <font>XXXLargeTitleCapsFont</font>
      </control>
  
      <control type="textbox" id="2">
        <description>Tagline</description>
        <posx>135</posx>
        <posy>340</posy>
        <width>270</width>
        <height>150</height>
        <align>right</align>
        <font>MediumTitleFont</font>
        <textcolor>Focused</textcolor>
        <label>$LOCALIZE[31802]</label>
        <autoscroll delay="3000" time="1000" repeat="10000">!Control.HasFocus(2)</autoscroll>
      </control>
-->

      <control type="textbox">
        <description>Introduction</description>
        <posx>30</posx>
        <posy>380</posy>
        <width>1200</width>
        <font>AltDefaultFont</font>
        <textcolor>Focused</textcolor>
        <label>$LOCALIZE[31851]</label>
        <wrapmultiline>true</wrapmultiline>
      </control>

      <control type="label">
        <label>$LOCALIZE[31852]</label>
        <posx>30</posx>
        <posy>460</posy>
        <font>AltDefaultFont</font>
      </control>
      
      <control type="group">
        <posx>60</posx>
        <posy>490</posy>
        
        <control type="image">
          <texture>bullet.png</texture>
          <posx>0</posx> <posy>4</posy>
        </control>
        <control type="label">
          <label>$LOCALIZE[31853]</label>
          <posx>20</posx>
          <posy>0</posy>
          <font>SmallDefaultFont</font>
        </control>
        
        <control type="image">
          <texture>bullet.png</texture>
          <posx>0</posx> <posy>26</posy>
        </control>
        <control type="label">
          <label>$LOCALIZE[31854]</label>
          <posx>20</posx>
          <posy>22</posy>
          <font>SmallDefaultFont</font>
        </control>
        
        <control type="image">
          <texture>bullet.png</texture>
          <posx>0</posx> <posy>48</posy>
        </control>
        <control type="label">
          <label>$LOCALIZE[31855]</label>
          <posx>20</posx>
          <posy>44</posy>
          <font>SmallDefaultFont</font>
        </control>
        
        <control type="image">
          <texture>bullet.png</texture>
          <posx>0</posx> <posy>70</posy>
        </control>
        <control type="label">
          <label>$LOCALIZE[31856]</label>
          <posx>20</posx>
          <posy>66</posy>
          <font>SmallDefaultFont</font>
        </control>
        
        <control type="image">
          <texture>bullet.png</texture>
          <posx>0</posx> <posy>92</posy>
        </control>
        <control type="label">
          <label>$LOCALIZE[31857]</label>
          <posx>20</posx>
          <posy>88</posy>
          <font>SmallDefaultFont</font>
        </control>
        
        <control type="image">
          <texture>bullet.png</texture>
          <posx>0</posx> <posy>114</posy>
        </control>
        <control type="label">
          <label>$LOCALIZE[31858]</label>
          <posx>20</posx>
          <posy>110</posy>
          <font>SmallDefaultFont</font>
        </control>
        
        <control type="image">
          <texture>bullet.png</texture>
          <posx>0</posx> <posy>136</posy>
        </control>
        <control type="label">
          <label>$LOCALIZE[31859]</label>
          <posx>20</posx>
          <posy>132</posy>
          <font>SmallDefaultFont</font>
        </control>
        
      </control>
      
      <control type="label">
        <label>$LOCALIZE[31860]</label>
        <posx>30</posx>
        <posy>660</posy>
        <font>AltDefaultFont</font>
      </control>

      
<!--
      <control type="label">
        <description>Note header</description>
        <posx>55</posx>
        <posy>450</posy>
        <width>790</width>
        <font>MediumSmallTitleCapsFont</font>
        <textcolor>Focused</textcolor>
        <label>$LOCALIZE[31805]:</label>
      </control>
  
      <control type="label">
        <description>Note</description>
        <posx>55</posx>
        <posy>475</posy>
        <width>1170</width>
        <font>MediumSmallDefaultFont</font>
        <textcolor>Unfocused</textcolor>
        <label>$LOCALIZE[31806]</label>
        <wrapmultiline>true</wrapmultiline>
      </control>
  
      <control type="label">
        <description>Credits header</description>
        <posx>55</posx>
        <posy>530</posy>
        <width>790</width>
        <font>MediumSmallTitleCapsFont</font>
        <textcolor>Focused</textcolor>
        <label>$LOCALIZE[31807]:</label>
      </control>
  
      <control type="label">
        <description>Credits</description>
        <posx>55</posx>
        <posy>555</posy>
        <width>1170</width>
        <font>MediumSmallDefaultFont</font>
        <textcolor>Unfocused</textcolor>
        <label>$LOCALIZE[31808]</label>
        <wrapmultiline>true</wrapmultiline>
      </control>
-->
      <control type="button" id="9000">
        <description>OK</description>
        <posx>1120</posx>
        <posy>650</posy>
        <label>$LOCALIZE[186]</label>
        <include>SetContentDialogButton</include>
        <onclick>ActivateWindow(0)</onclick>
      </control>

    </control>
  </controls>
</window>
