Source: plymouth-theme-xbmc-logo
Section: x11
Priority: optional
Maintainer: eXcyle <eXcyle@eXcyle.nl>
Uploaders: Luigi Capriotti <l.capriotti@xbmc.org>

Package: plymouth-theme-xbmc-logo
Architecture: all
Depends: plymouth, plymouth-label
Description: graphical boot animation and logger - xbmc-logo theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the xbmc-logo theme.
