<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting id="bit1" type="bool" label="30000" default="0" />
  <setting id="bit2" type="bool" label="30001" default="0" />
  <setting id="bit3" type="bool" label="30002" default="0" />
  <setting id="bit4" type="bool" label="30003" default="0" />
  <setting id="bit5" type="bool" label="30004" default="0" />
  <setting id="bit6" type="bool" label="30005" default="0" />
  <setting id="bit7" type="bool" label="30006" default="0" />
  <setting id="bit8" type="bool" label="30007" default="0" />
</settings>
