<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<include>HomeButtonCommons</include>
		<include>CommonNowPlaying</include>
		<control type="label">
			<description>Window label</description>
			<include>MediaWindowTitleCommons</include>
			<label>$LOCALIZE[5]</label>
		</control>
		<control type="panel" id="9002">
			<visible>!Window.IsActive(PlayerControls)</visible>
			<include>VisibleFadeEffect</include>
			<include>SubMenuCommonLayout</include>
			<content>
				<item>
					<label>31200</label>
					<onclick>PreviousMenu</onclick>
					<icon>icon_back.png</icon>
				</item>
				<item>
					<label>13200</label>
					<onclick>ActivateWindow(Profiles)</onclick>
					<icon>icon_profile.png</icon>
				</item>
				<item>
					<label>20077</label>
					<onclick>ActivateWindow(1113)</onclick>
					<icon>icon_skin.png</icon>
				</item>
				<item>
					<label>130</label>
					<onclick>ActivateWindow(SystemInfo)</onclick>
					<icon>icon_systeminfo.png</icon>
				</item>
			</content>
		</control>
		<control type="panel" id="9000">
			<include>Window_OpenClose_Animation_Zoom</include>
			<posx>30</posx>
			<posy>110</posy>
			<width>1220</width>
			<height>740</height>
			<onleft>9000</onleft>
			<onright>9001</onright>
			<onup>9000</onup>
			<ondown>9000</ondown>
			<pagecontrol>-</pagecontrol>
			<scrolltime>300</scrolltime>
			<itemlayout height="180" width="600">
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>620</width>
					<height>200</height>
					<texture border="5">SubBack.png</texture>
					<bordertexture border="30">ShadowBorder.png</bordertexture>
					<bordersize>20</bordersize>
				</control>
				<control type="image">
					<posx>430</posx>
					<posy>25</posy>
					<width>150</width>
					<height>145</height>
					<aspectratio>keep</aspectratio>
					<texture>$INFO[ListItem.Icon]</texture>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>40</posy>
					<width>360</width>
					<height>20</height>
					<font>font24_title</font>
					<textcolor>white</textcolor>
					<align>left</align>
					<aligny>center</aligny>
					<label>$INFO[ListItem.Label]</label>
				</control>
				<control type="textbox">
					<posx>40</posx>
					<posy>70</posy>
					<width>390</width>
					<height>100</height>
					<font>font12</font>
					<textcolor>grey2</textcolor>
					<align>left</align>
					<label>$INFO[ListItem.Label2]</label>
				</control>
				<control type="image">
					<posx>20</posx>
					<posy>20</posy>
					<width>200</width>
					<height>160</height>
					<texture>GlassOverlay.png</texture>
					<colordiffuse>55FFFFFF</colordiffuse>
				</control>
			</itemlayout>
			<focusedlayout height="180" width="600">
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>620</width>
					<height>200</height>
					<texture border="5">SubBack.png</texture>
					<bordertexture border="30">ShadowBorder.png</bordertexture>
					<bordersize>20</bordersize>
				</control>
				<control type="image">
					<posx>430</posx>
					<posy>25</posy>
					<width>150</width>
					<height>145</height>
					<aspectratio>keep</aspectratio>
					<texture>$INFO[ListItem.Icon]</texture>
				</control>
				<control type="label">
					<posx>40</posx>
					<posy>40</posy>
					<width>360</width>
					<height>20</height>
					<font>font24_title</font>
					<textcolor>white</textcolor>
					<align>left</align>
					<aligny>center</aligny>
					<label>$INFO[ListItem.Label]</label>
				</control>
				<control type="textbox">
					<posx>40</posx>
					<posy>70</posy>
					<width>390</width>
					<height>100</height>
					<font>font12</font>
					<textcolor>grey2</textcolor>
					<align>left</align>
					<label>$INFO[ListItem.Label2]</label>
				</control>
				<control type="image">
					<posx>20</posx>
					<posy>20</posy>
					<width>200</width>
					<height>160</height>
					<texture>GlassOverlay.png</texture>
					<colordiffuse>55FFFFFF</colordiffuse>
				</control>
			</focusedlayout>
			<content>
				<item id="1">
					<label>480</label>
					<label2>31400</label2>
					<onclick>ActivateWindow(AppearanceSettings)</onclick>
					<icon>icon_big_appearence.png</icon>
				</item>
				<item id="2">
					<label>157</label>
					<label2>31401</label2>
					<onclick>ActivateWindow(VideosSettings)</onclick>
					<icon>icon_big_video.png</icon>
				</item>
				<item id="3">
					<label>2</label>
					<label2>31402</label2>
					<onclick>ActivateWindow(MusicSettings)</onclick>
					<icon>icon_big_music.png</icon>
				</item>
				<item id="4">
					<label>1</label>
					<label2>31403</label2>
					<onclick>ActivateWindow(PicturesSettings)</onclick>
					<icon>icon_big_pictures.png</icon>
				</item>
				<item id="5">
					<label>8</label>
					<label2>31404</label2>
					<onclick>ActivateWindow(WeatherSettings)</onclick>
					<icon>icon_big_weather.png</icon>
				</item>
				<item id="6">
					<label>24001</label>
					<label2>31408</label2>
					<onclick>ActivateWindow(AddonBrowser)</onclick>
					<icon>icon_big_addons.png</icon>
				</item>
				<item id="7">
					<label>705</label>
					<label2>31405</label2>
					<onclick>ActivateWindow(NetworkSettings)</onclick>
					<icon>icon_big_network.png</icon>
				</item>
				<item id="8">
					<label>13000</label>
					<label2>31406</label2>
					<onclick>ActivateWindow(SystemSettings)</onclick>
					<icon>icon_big_system.png</icon>
				</item>
				<item id="9">
					<label>166</label>
					<label2>31407</label2>
					<onclick>ActivateWindow(1111)</onclick>
					<icon>icon_big_skin.png</icon>
					<visible>false</visible>
				</item>
			</content>
		</control>
		<include>BehindDialogFadeOut</include>
	</controls>
</window>
