<settings>
    <setting id="lastpresetfolder" type="text" default="" visible="false" />
    <setting id="lastpresetidx" type="integer" default="0" visible="false" />
    <setting id="lastlockedstatus" type="bool" default="false" visible="false" />
    <setting id="Preset Pack" type="enum" label="30009" lvalues="30020|30021|30022" default="0"/>
    <setting id="User Preset Folder" type="folder" visible="eq(-1,2)" source="" label="30010" default=""/>
    <setting id="Preset Shuffle Mode" type="bool" label="30011" default="true"/>
    <setting id="Automatic Blend Time" type="rangeofnum" label="30000" rangestart="1" rangeend="10" elements="10" valueformat="30050" default="0"/>
    <setting id="Time Between Presets" type="rangeofnum" label="30001" rangestart="5" rangeend="50" elements="10" valueformat="30050" default="0"/>
    <setting id="Additional Random Time" type="rangeofnum" label="30002" rangestart="5" rangeend="50" elements="10" valueformat="30050" default="0"/>
    <setting id="Enable Hard Cuts" type="bool" label="30004" default="false"/>
    <setting id="Loudness Threshold For Hard Cuts" type="rangeofnum" enable="eq(-1,true)" label="30005" rangestart="0" rangeend="100" elements="11" valueformat="30051" default="0"/>
    <setting id="Average Time Between Hard Cuts" type="rangeofnum" enable="eq(-2,true)" label="30006" rangestart="5" rangeend="120" elements="24" valueformat="30050" default="0"/>
    <setting id="Maximum Refresh Rate" type="rangeofnum" label="30007" rangestart="20" rangeend="60" elements="9" valueformat="30052" default="6"/>
    <setting id="Enable Stereo 3d" type="bool" label="30008" default="false"/>
</settings>
