<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2007 Johannes Lehtinen
 * This file is free software; Johannes Lehtinen gives unlimited
 * permission to copy, distribute and modify it.
-->
<plugin
  id="org.c-pluff.examples.cpfile.cext"
  version="0.1"
  name="File extensions for C source files"
  provider-name="Johannes Lehtinen">
  <requires>
    <c-pluff version="0.1"/>
    <import plugin="org.c-pluff.examples.cpfile.extension" version="0.1"/>
  </requires>
  <extension
    point="org.c-pluff.examples.cpfile.extension.file-types"
    name="C source file types">
    <file-type description="C source file">
      <file-extension ext=".c"/>
    </file-type>
    <file-type description="C header file">
      <file-extension ext=".h"/>
    </file-type>
    <file-type description="C++ source file">
      <file-extension ext=".cpp"/>
      <file-extension ext=".cxx"/>
    </file-type>
    <file-type description="C++ header file">
      <file-extension ext=".hpp"/>
      <file-extension ext=".H"/>
    </file-type>
  </extension>
</plugin>
