<window id="4">
	<defaultcontrol>2</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<control type="group">
			<include>Window_OpenClose_Right_Panel_Animation</include>
			<include>ContentPanel</include>
			<control type="group" id="8000">
				<posx>300</posx>
				<posy>130</posy>
				<control type="group">
					<posx>0</posx>
					<posy>0</posy>
					<control type="button" id="2">
						<description>Video push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<height>250</height>
						<width>235</width>
						<label>[B]$LOCALIZE[3][/B]</label>
						<align>center</align>
						<aligny>-</aligny>
						<textcolor>grey2</textcolor>
						<focusedcolor>white</focusedcolor>
						<font>font22</font>
						<onclick>ActivateWindow(MyVideosSettings)</onclick>
						<texturefocus border="5">button-focus.png</texturefocus>
						<texturenofocus>-</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>210</textoffsety>
						<onleft>9000</onleft>
						<onright>3</onright>
						<onup>6</onup>
						<ondown>6</ondown>
					</control>
					<control type="image">
						<posx>10</posx>
						<posy>5</posy>
						<width>215</width>
						<height>200</height>
						<aspectratio>keep</aspectratio>
						<texture>icon_video.png</texture>
					</control>
				</control>
				<control type="group">
					<posx>240</posx>
					<posy>0</posy>
					<control type="button" id="3">
						<description>Music push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<height>250</height>
						<width>235</width>
						<label>[B]$LOCALIZE[2][/B]</label>
						<align>center</align>
						<aligny>-</aligny>
						<textcolor>grey2</textcolor>
						<focusedcolor>white</focusedcolor>
						<font>font22</font>
						<onclick>ActivateWindow(MyMusicSettings)</onclick>
						<texturefocus border="5">button-focus.png</texturefocus>
						<texturenofocus>-</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>210</textoffsety>
						<onleft>2</onleft>
						<onright>4</onright>
						<onup>7</onup>
						<ondown>7</ondown>
					</control>
					<control type="image">
						<posx>10</posx>
						<posy>5</posy>
						<width>215</width>
						<height>200</height>
						<aspectratio>keep</aspectratio>
						<texture>icon_music.png</texture>
					</control>
				</control>
				<control type="group">
					<posx>480</posx>
					<posy>0</posy>
					<control type="button" id="4">
						<description>Pics push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<height>250</height>
						<width>235</width>
						<label>[B]$LOCALIZE[1][/B]</label>
						<align>center</align>
						<aligny>-</aligny>
						<textcolor>grey2</textcolor>
						<focusedcolor>white</focusedcolor>
						<font>font22</font>
						<onclick>ActivateWindow(MyPicturesSettings)</onclick>
						<texturefocus border="5">button-focus.png</texturefocus>
						<texturenofocus>-</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>210</textoffsety>
						<onleft>3</onleft>
						<onright>5</onright>
						<onup>8</onup>
						<ondown>8</ondown>
					</control>
					<control type="image">
						<posx>10</posx>
						<posy>5</posy>
						<width>215</width>
						<height>200</height>
						<aspectratio>keep</aspectratio>
						<texture>icon_pics.png</texture>
					</control>
				</control>
				<control type="group">
					<posx>720</posx>
					<posy>0</posy>
					<control type="button" id="5">
						<description>Profiles push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<height>250</height>
						<width>235</width>
						<label>[B]$LOCALIZE[13200][/B]</label>
						<align>center</align>
						<aligny>-</aligny>
						<textcolor>grey2</textcolor>
						<focusedcolor>white</focusedcolor>
						<font>font22</font>
						<onclick>ActivateWindow(Profiles)</onclick>
						<texturefocus border="5">button-focus.png</texturefocus>
						<texturenofocus>-</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>210</textoffsety>
						<onleft>4</onleft>
						<onright>9000</onright>
						<onup>9</onup>
						<ondown>9</ondown>
					</control>
					<control type="image">
						<posx>10</posx>
						<posy>5</posy>
						<width>215</width>
						<height>200</height>
						<aspectratio>keep</aspectratio>
						<texture>unknown-user.png</texture>
					</control>
				</control>
				<control type="group">
					<posx>0</posx>
					<posy>255</posy>
					<control type="button" id="6">
						<description>Weather push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<height>250</height>
						<width>235</width>
						<label>[B]$LOCALIZE[8][/B]</label>
						<align>center</align>
						<aligny>-</aligny>
						<textcolor>grey2</textcolor>
						<focusedcolor>white</focusedcolor>
						<font>font22</font>
						<onclick>ActivateWindow(MyWeatherSettings)</onclick>
						<texturefocus border="5">button-focus.png</texturefocus>
						<texturenofocus>-</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>210</textoffsety>
						<onleft>9000</onleft>
						<onright>7</onright>
						<onup>2</onup>
						<ondown>2</ondown>
					</control>
					<control type="image">
						<posx>10</posx>
						<posy>5</posy>
						<width>215</width>
						<height>200</height>
						<aspectratio>keep</aspectratio>
						<texture>icon_weather.png</texture>
					</control>
				</control>
				<control type="group">
					<posx>240</posx>
					<posy>255</posy>
					<control type="button" id="7">
						<description>Network push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<height>250</height>
						<width>235</width>
						<label>[B]$LOCALIZE[705][/B]</label>
						<align>center</align>
						<aligny>-</aligny>
						<textcolor>grey2</textcolor>
						<focusedcolor>white</focusedcolor>
						<font>font22</font>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
						<texturefocus border="5">button-focus.png</texturefocus>
						<texturenofocus>-</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>210</textoffsety>
						<onleft>6</onleft>
						<onright>8</onright>
						<onup>3</onup>
						<ondown>3</ondown>
					</control>
					<control type="image">
						<posx>10</posx>
						<posy>5</posy>
						<width>215</width>
						<height>200</height>
						<aspectratio>keep</aspectratio>
						<texture>icon_network.png</texture>
					</control>
				</control>
				<control type="group">
					<posx>480</posx>
					<posy>255</posy>
					<control type="button" id="8">
						<description>System push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<height>250</height>
						<width>235</width>
						<label>[B]$LOCALIZE[13000][/B]</label>
						<align>center</align>
						<aligny>-</aligny>
						<textcolor>grey2</textcolor>
						<focusedcolor>white</focusedcolor>
						<font>font22</font>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<texturefocus border="5">button-focus.png</texturefocus>
						<texturenofocus>-</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>210</textoffsety>
						<onleft>7</onleft>
						<onright>9</onright>
						<onup>4</onup>
						<ondown>4</ondown>
					</control>
					<control type="image">
						<posx>10</posx>
						<posy>5</posy>
						<width>215</width>
						<height>200</height>
						<aspectratio>keep</aspectratio>
						<texture>icon_system.png</texture>
					</control>
				</control>
				<control type="group">
					<posx>720</posx>
					<posy>255</posy>
					<control type="button" id="9">
						<description>Appearence push button</description>
						<posx>0</posx>
						<posy>0</posy>
						<height>250</height>
						<width>235</width>
						<label>[B]$LOCALIZE[480][/B]</label>
						<align>center</align>
						<aligny>-</aligny>
						<textcolor>grey2</textcolor>
						<focusedcolor>white</focusedcolor>
						<font>font22</font>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<texturefocus border="5">button-focus.png</texturefocus>
						<texturenofocus>-</texturenofocus>
						<textoffsetx>0</textoffsetx>
						<textoffsety>210</textoffsety>
						<onleft>8</onleft>
						<onright>9000</onright>
						<onup>5</onup>
						<ondown>5</ondown>
					</control>
					<control type="image">
						<posx>10</posx>
						<posy>5</posy>
						<width>215</width>
						<height>200</height>
						<aspectratio>keep</aspectratio>
						<texture>icon_appearence.png</texture>
					</control>
				</control>
			</control>
		</control>
		<control type="group">
			<include>Window_OpenClose_Left_Panel_Animation</include>
			<include>CommonNowPlaying</include>
			<control type="group" id="9000">
				<posx>0</posx>
				<posy>130</posy>
				<control type="button" id="20">
					<description>Filemanager button</description>
					<posx>0</posx>
					<posy>0</posy>
					<include>ButtonCommonValues</include>
					<label>7</label>
					<onclick>ActivateWindow(FileManager)</onclick>
					<onleft>5</onleft>
					<onright>2</onright>
					<onup>611</onup>
					<ondown>21</ondown>
				</control>
				<control type="button" id="21">
					<description>Skin Settings button</description>
					<posx>0</posx>
					<posy>45</posy>
					<include>ButtonCommonValues</include>
					<label>20077</label>
					<onclick>ActivateWindow(1111)</onclick>
					<onleft>5</onleft>
					<onright>2</onright>
					<onup>20</onup>
					<ondown>22</ondown>
					<pulseonselect>no</pulseonselect>
					<visible>true</visible>
				</control>
				<control type="button" id="22">
					<description>Reload Skin button</description>
					<posx>0</posx>
					<posy>90</posy>
					<include>ButtonCommonValues</include>
					<label>20183</label>
					<onclick>XBMC.ReloadSkin()</onclick>
					<onclick>SetFocus(8000)</onclick>
					<onleft>5</onleft>
					<onright>2</onright>
					<onup>21</onup>
					<ondown>610</ondown>
				</control>
				<control type="button" id="610">
					<description>Fake Button to fix Player Controls Navigation</description>
					<onup>22</onup>
					<ondown>603</ondown>
					<visible>false</visible>
				</control>
				<control type="group">
					<posx>0</posx>
					<posy>135</posy>
					<include>CommonNowPlaying_Controls</include>
				</control>
				<control type="button" id="611">
					<description>Fake Button to fix Player Controls Navigation</description>
					<onup>607</onup>
					<ondown>20</ondown>
					<visible>false</visible>
				</control>
			</control>
		</control>
		<control type="image">
			<posx>0</posx>
			<posy>0</posy>
			<width>1280</width>
			<height>128</height>
			<texture>Header.png</texture>
		</control>
		<control type="label">
			<include>WindowTitleCommons</include>
			<label>$LOCALIZE[9] - $LOCALIZE[5]</label>
		</control>
	</controls>
</window>