<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="128">
      <setting label="30006" type="labelenum" values="TheAudioDb.com|None" id="biogsource" default="TheAudioDb.com"/>
      <setting label="30015" type="select" values="cn|de|en|es|fr|hu|il|it|jp|nl|no|pl|pt|ru|se" id="tadbartistlanguage" default="en" visible="eq(-1,0)"/>
      <setting type="sep"/>
      <setting label="30008" type="labelenum" values="MusicBrainz|allmusic.com|TheAudioDb.com|None" id="discogsource" default="MusicBrainz"/>
      <setting type="sep"/>
      <setting label="30011" type="labelenum" values="TheAudioDb.com|allmusic.com|MusicBrainz|None" id="lifespansource" default="TheAudioDb.com"/>
      <setting label="30014" type="labelenum" values="allmusic.com|None" id="yearsasource" default="allmusic.com"/>
      <setting type="sep"/>
      <setting label="30009" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="genressource" default="TheAudioDb.com"/>
      <setting label="30010" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="stylessource" default="TheAudioDb.com"/>
      <setting label="30012" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="moodssource" default="TheAudioDb.com"/>
  </category>

  <category label="30021">
      <setting label="30016" type="labelenum" values="TheAudioDb.com|None" id="biogfbsource" default="None"/>
      <setting label="30015" type="select" values="cn|de|en|es|fr|hu|il|it|jp|nl|no|pl|pt|ru|se" id="tadbartistlanguage" default="en" visible="eq(-1,0)"/>
      <setting type="sep"/>
      <setting label="30020" type="labelenum" values="TheAudioDb.com|MusicBrainz|allmusic.com|None" id="lifespanfbsource" default="None"/>
      <setting type="sep"/>
      <setting label="30018" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="genresfbsource" default="None"/>
      <setting label="30019" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="stylesfbsource" default="None"/>
      <setting label="30024" type="labelenum" values="TheAudioDb.com|allmusic.com|None" id="moodsfbsource" default="None"/>
  </category>

  <category label="30007">
    <setting type="lsep" label="Thumb Sources"/>
    <setting label="30005" type="bool" id="fanarttvthumbs" default="true"/>
    <setting label="30022" type="bool" id="tadbthumbs" default="true"/>
    <setting type="lsep" label="Fanart Sources"/>
    <setting label="30004" type="bool" id="fanarttvfanart" default="true"/>
    <setting label="30023" type="bool" id="tadbfanart" default="true"/>
    <setting label="30027" type="bool" id="fanarttvartistcl" default="false"/>
	<setting label="30029" type="bool" id="tadbartistclearlogo" default="false"/>
	<setting label="30030" type="bool" id="tadbartistclearart" default="false"/>
	<setting label="30031" type="bool" id="tadbartistlandscape" default="false"/>
	<setting label="30028" type="bool" id="fanarttvartistbanner" default="false"/>
	<setting label="30032" type="bool" id="tadbartistbanner" default="false"/>
  </category>
  
  <category label="30025">
      <setting label="30026" type="text" id="mbsite" default="https://musicbrainz.org"/>
  </category>

</settings>
