Source: squashfs-udeb
Section: debian-installer
Priority: optional
Maintainer: Luigi Capriotti <l.capriotti@xbmc.org>
Build-Depends: debhelper (>= 5.0.22)

Package: squashfs-udeb
Architecture: i386
XC-Package-Type: udeb
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Squashfs kernel module for Debian Installer

 
