<?xml version="1.0" ?>
<settings version="1">
	<section id="metadata.tvshows.themoviedb.org.python">
		<category id="general" label="128" help="">
			<group id="1">
				<setting id="language" type="string" label="30000" help="">
					<level>0</level>
					<default>en-US</default>
					<constraints>
						<options>
							<option>ar-AE</option>
							<option>ar-SA</option>
							<option>be-BY</option>
							<option>bg-BG</option>
							<option>bn-BD</option>
							<option>ca-ES</option>
							<option>ch-GU</option>
							<option>cs-CZ</option>
							<option>da-DK</option>
							<option>de-DE</option>
							<option>el-GR</option>
							<option>en-US</option>
							<option>eo-EO</option>
							<option>es-ES</option>
							<option>es-MX</option>
							<option>et-EE</option>
							<option>eu-ES</option>
							<option>fa-IR</option>
							<option>fi-FI</option>
							<option>fr-CA</option>
							<option>fr-FR</option>
							<option>gl-ES</option>
							<option>he-IL</option>
							<option>hi-IN</option>
							<option>hr-HR</option>
							<option>hu-HU</option>
							<option>id-ID</option>
							<option>it-IT</option>
							<option>ja-JP</option>
							<option>ka-GE</option>
							<option>kn-IN</option>
							<option>ko-KR</option>
							<option>lt-LT</option>
							<option>lv-LV</option>
							<option>ml-IN</option>
							<option>nb-NO</option>
							<option>nl-NL</option>
							<option>no-NO</option>
							<option>pl-PL</option>
							<option>pt-BR</option>
							<option>pt-PT</option>
							<option>ro-RO</option>
							<option>ru-RU</option>
							<option>sk-SK</option>
							<option>sl-SI</option>
							<option>sr-RS</option>
							<option>sv-SE</option>
							<option>ta-IN</option>
							<option>te-IN</option>
							<option>th-TH</option>
							<option>tr-TR</option>
							<option>uk-UA</option>
							<option>vi-VN</option>
							<option>zh-CN</option>
							<option>zh-HK</option>
							<option>zh-TW</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30000</heading>
					</control>
				</setting>
				<setting id="tmdbcertcountry" type="string" label="30001" help="">
					<level>0</level>
					<default>us</default>
					<constraints>
						<options>
							<option>au</option>
							<option>bg</option>
							<option>br</option>
							<option>by</option>
							<option>ca</option>
							<option>cz</option>
							<option>de</option>
							<option>dk</option>
							<option>ee</option>
							<option>es</option>
							<option>fi</option>
							<option>fr</option>
							<option>gb</option>
							<option>ge</option>
							<option>gr</option>
							<option>hr</option>
							<option>hu</option>
							<option>id</option>
							<option>il</option>
							<option>in</option>
							<option>it</option>
							<option>ir</option>
							<option>jp</option>
							<option>kr</option>
							<option>lt</option>
							<option>lv</option>
							<option>mx</option>
							<option>nl</option>
							<option>no</option>
							<option>pl</option>
							<option>pt</option>
							<option>ru</option>
							<option>si</option>
							<option>sv</option>
							<option>th</option>
							<option>tr</option>
							<option>ua</option>
							<option>us</option>
							<option>vn</option>
							<option>zh</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30001</heading>
					</control>
				</setting>
				<setting id="usecertprefix" type="boolean" label="30002" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="certprefix" type="string" label="30003" help="">
					<level>0</level>
					<default>Rated </default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="usecertprefix">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30003</heading>
					</control>
				</setting>
				<setting id="keeporiginaltitle" type="boolean" label="30004" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="cat_landscape" type="boolean" label="30005" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="studio_country" type="boolean" label="30006" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="enab_trailer" type="boolean" label="30305" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="players_opt" type="string" parent="enab_trailer" label="30306" help="">
					<level>0</level>
					<default>Tubed</default>
					<constraints>
						<options>
							<option label="30307">YouTube</option>
							<option label="30308">Tubed</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable" setting="enab_trailer" operator="is">true</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
			</group>
		</category>
		<category id="ratings" label="30300" help="">
			<group id="1">
				<setting id="ratings" type="string" label="30301" help="">
					<level>0</level>
					<default>TMDb</default>
					<constraints>
						<options>
							<option label="TMDb">TMDb</option>
							<option label="IMDb">IMDb</option>
							<option label="Trakt">Trakt</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="imdbanyway" type="boolean" label="30302" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="ratings">IMDb</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="traktanyway" type="boolean" label="30303" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="ratings">Trakt</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="tmdbanyway" type="boolean" label="30304" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="ratings">TMDb</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="fanart.tv" label="30100" help="">
			<group id="1">
				<setting id="enable_fanarttv" type="boolean" label="30109" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="fanarttv_clientkey" type="string" label="30101" help="">
					<level>0</level>
					<default/>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="enable_fanarttv">true</condition>
						</dependency>
					</dependencies>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30101</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="advanced" label="30200" help="">
			<group id="1">
				<setting id="verboselog" type="boolean" label="30201" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="lastUpdated" type="string" help="">
					<level>0</level>
					<default>0</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="originalUrl" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="previewUrl" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
