<?xml version="1.0"?>
<plugin id="maximal" name="Maximal" version="1.0.0.max" provider-name="Maximal Provider">
	<backwards-compatibility abi="1.0" api="0.8"/>
	<requires>
		<c-pluff version="999.3.4"/>
		<import plugin="dependency1" version="0.1" optional="true"/>
		<import plugin="dependency2" version="0.2"/>
		<import plugin="dependency3" optional="true"/>
		<import plugin="dependency4"/>
	</requires>
	<runtime library="nonexisting" funcs="funcs"/>
	<extension-point id="extpt1" name="Extension Point 1" schema="ext1.xsd"/>
	<extension-point id="extpt2" name="Extension Point 2"/>
	<extension-point id="extpt3" schema="extpt3.xsd"/>
	<extension-point id="extpt4"/>
	<extension point="nonexisting.extptA" id="ext1" name="Extension 1">
		Extension data begins
		<structure>
			<parameter>parameter</parameter>
			<parameter>param2</parameter>
			<!-- <parameter>commented out parameter</parameter> -->
			<assertion>1&lt;2</assertion>
			<deeper>
				<struct>
					<is>here</is>
				</struct>
			</deeper>
			Structure ends
		</structure>
	</extension>
	<extension point="nonexisting.extptB" id="ext2"/>
	<extension point="maximal.extpt1" name="Extension 3"/>
	<extension point="maximal.extpt2"/>
</plugin>
