Source: libdvdcss
Section: libs
Priority: optional
Maintainer: Sam Hocevar (Debian packages) <sam+deb@zoy.org>
Build-Depends: debhelper (>= 4.0), doxygen, tetex-bin
Standards-Version: 3.6.2.1

Package: libdvdcss2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libdvdcss0.0.1, libdvdcss0.0.2
Description: portable abstraction library for DVD decryption
 The libdvdcss library provides a portable abstraction for DVD decryption,
 with a simple API to access a DVD device as a block device.
 .
 This package contains the libdvdcss2 runtime library.

Package: libdvdcss2-dev
Section: libdevel
Architecture: any
Depends: libdvdcss2 (= ${Source-Version})
Conflicts: libdvdcss0.0.1-dev, libdvdcss0.0.2-dev, libdvdcss0.0.3-dev, libdvdcss1-dev
Description: development files for libdvdcss2
 The libdvdcss library provides a portable abstraction for DVD decryption,
 with a simple API to access a DVD device as a block device.
 .
 This package contains the header files and static library needed to
 compile applications that use libdvdcss2.

